{
  "log": {
    "_recordingName": "GitHubGraphQLClient.fetchOrganization.childOnly",
    "creator": {
      "comment": "persister:SafeHeadersFSPersister",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "7dc7342c9fa8af96b79d8b3ea4602f28",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "Bearer [REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json; charset=utf-8",
            "params": [],
            "text": "{}"
          },
          "queryString": [],
          "url": "https://api.github.com/app/installations/953957/access_tokens"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 239,
            "text": "{\"token\":\"[REDACTED]\",\"expires_at\":\"2021-05-04T18:10:15Z\",\"permissions\":{\"members\":\"read\",\"metadata\":\"read\",\"pull_requests\":\"read\",\"statuses\":\"read\",\"vulnerability_alerts\":\"read\"},\"repository_selection\":\"all\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"76a1d47026b8614f2b28b883574976c66d39509c39558da3ba66a10b9bcd12ef\""
            },
            {
              "name": "x-github-media-type",
              "value": "github.v3; param=machine-man-preview; format=json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 217,
      },
      {
        "_id": "efa333287a0b93d7862f32838cba98ff",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer [REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"query\":\"query ($login: String!, $teams: String, $teamMembers: String) {\\n    organization(login: $login) {\\n        id\\n        ... organizationFields\\n        teams(first: 2, after: $teams) {\\n        edges {\\n          node {\\n            id\\n            ... teamFields\\n            members(first: 2, after: $teamMembers) {\\n        edges {\\n          node {\\n            id\\n            ... teamMemberFields\\n            \\n          }\\n\\n          ... teamMemberEdgeFields\\n        }\\n\\n        pageInfo {\\n  endCursor\\n  hasNextPage\\n}\\n      }\\n          }\\n        }\\n\\n        pageInfo {\\n  endCursor\\n  hasNextPage\\n}\\n      }\\n      }\\n... rateLimit\\n  }\\n\\nfragment organizationFields on Organization {\\n    login\\n    name\\n  }\\n\\nfragment teamFields on Team {\\n    name\\n    url\\n    slug\\n  }\\n\\nfragment teamMemberFields on User {\\n    login\\n  }\\n\\nfragment teamMemberEdgeFields on TeamMemberEdge {\\n    role\\n  }\\n\\nfragment rateLimit on Query {\\n    rateLimit {\\n      limit\\n      cost\\n      remaining\\n      resetAt\\n    }\\n  }\",\"variables\":{\"login\":\"github-app-test\"}}"
          },
          "queryString": [],
          "url": "https://api.github.com/graphql"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1014,
            "text": "{\"data\":{\"organization\":{\"id\":\"MDEyOk9yZ2FuaXphdGlvbjUwNjI3MjE5\",\"login\":\"github-app-test\",\"name\":\"github-app-test\",\"teams\":{\"edges\":[{\"node\":{\"id\":\"MDQ6VGVhbTM0NzMyOTc=\",\"name\":\"Cool Kids\",\"url\":\"https://github.com/orgs/github-app-test/teams/cool-kids\",\"slug\":\"cool-kids\",\"members\":{\"edges\":[{\"node\":{\"id\":\"MDQ6VXNlcjE1MjY0NDU=\",\"login\":\"fomentia\"},\"role\":\"MAINTAINER\"}],\"pageInfo\":{\"endCursor\":\"Y3Vyc29yOnYyOpHOABdKrQ==\",\"hasNextPage\":false}}}},{\"node\":{\"id\":\"MDQ6VGVhbTM0NTM4Njg=\",\"name\":\"Developers\",\"url\":\"https://github.com/orgs/github-app-test/teams/developers\",\"slug\":\"developers\",\"members\":{\"edges\":[{\"node\":{\"id\":\"MDQ6VXNlcjE1MjY0NDU=\",\"login\":\"fomentia\"},\"role\":\"MEMBER\"},{\"node\":{\"id\":\"MDQ6VXNlcjUwNjI3MTgx\",\"login\":\"fomentia2\"},\"role\":\"MAINTAINER\"}],\"pageInfo\":{\"endCursor\":\"Y3Vyc29yOnYyOpHOAwSCbQ==\",\"hasNextPage\":true}}}}],\"pageInfo\":{\"endCursor\":\"Y3Vyc29yOnYyOpMCqkRldmVsb3BlcnPOADSzrA==\",\"hasNextPage\":true}}},\"rateLimit\":{\"limit\":5000,\"cost\":1,\"remaining\":4987,\"resetAt\":\"2021-05-04T18:07:12Z\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-github-media-type",
              "value": "github.v4"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "5000"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "4987"
         [...]
