{
  "log": {
    "_recordingName": "GitHubGraphQLClient.fetchOrganization.childOnly",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "7f2926ac1ad814d2dfcaf9525a63bf36",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "Bearer [REDACTED]"
            }
          ],
          "method": "POST",
          "queryString": [],
          "url": "https://api.github.com/app/installations/17214088/access_tokens"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 575,
            "text": "{\"token\":\"[REDACTED]\",\"expires_at\":\"2021-06-04T19:59:20Z\",\"permissions\":{\"members\":\"read\",\"organization_packages\":\"write\",\"actions\":\"write\",\"administration\":\"write\",\"checks\":\"write\",\"contents\":\"write\",\"deployments\":\"write\",\"discussions\":\"write\",\"environments\":\"write\",\"issues\":\"write\",\"metadata\":\"read\",\"packages\":\"write\",\"pages\":\"write\",\"pull_requests\":\"write\",\"repository_hooks\":\"write\",\"repository_projects\":\"admin\",\"secrets\":\"write\",\"secret_scanning_alerts\":\"write\",\"security_events\":\"write\",\"statuses\":\"write\"},\"repository_selection\":\"all\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"b8f47879d6f7276bf039fd3dfa7de9ea772c9ecdcf22bbb623f7d32637013b0c\""
            },
            {
              "name": "x-github-media-type",
              "value": "github.v3; param=machine-man-preview; format=json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 307,
      },
      {
        "_id": "22e4c882794d943e8a6f0961702d5000",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer [REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"query\":\"query ($login: String!, $teams: String, $teamMembers: String) {\\n    organization(login: $login) {\\n        id\\n        ... organizationFields\\n        teams(first: 2, after: $teams) {\\n        edges {\\n          node {\\n            id\\n            ... teamFields\\n            members(first: 2, after: $teamMembers) {\\n        edges {\\n          node {\\n            id\\n            ... teamMemberFields\\n            \\n          }\\n\\n          ... teamMemberEdgeFields\\n        }\\n\\n        pageInfo {\\n  endCursor\\n  hasNextPage\\n}\\n      }\\n          }\\n        }\\n\\n        pageInfo {\\n  endCursor\\n  hasNextPage\\n}\\n      }\\n      }\\n... rateLimit\\n  }\\n\\nfragment organizationFields on Organization {\\n    login\\n    name\\n  }\\n\\nfragment teamFields on Team {\\n    name\\n    url\\n    slug\\n  }\\n\\nfragment teamMemberFields on User {\\n    login\\n  }\\n\\nfragment teamMemberEdgeFields on TeamMemberEdge {\\n    role\\n  }\\n\\nfragment rateLimit on Query {\\n    rateLimit {\\n      limit\\n      cost\\n      remaining\\n      resetAt\\n    }\\n  }\",\"variables\":{\"login\":\"Kei-Institute\"}}"
          },
          "queryString": [],
          "url": "https://api.github.com/graphql"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1001,
            "text": "{\"data\":{\"organization\":{\"id\":\"MDEyOk9yZ2FuaXphdGlvbjg0OTIzNTAz\",\"login\":\"Kei-Institute\",\"name\":\"Kei-Institute\",\"teams\":{\"edges\":[{\"node\":{\"id\":\"MDQ6VGVhbTQ4NTgxNjk=\",\"name\":\"Betterteam\",\"url\":\"https://github.com/orgs/Kei-Institute/teams/betterteam\",\"slug\":\"betterteam\",\"members\":{\"edges\":[{\"node\":{\"id\":\"MDQ6VXNlcjUxMzUyMw==\",\"login\":\"erichs\"},\"role\":\"MEMBER\"},{\"node\":{\"id\":\"MDQ6VXNlcjI1NDg5NDgy\",\"login\":\"mknoedel\"},\"role\":\"MEMBER\"}],\"pageInfo\":{\"endCursor\":\"Y3Vyc29yOnYyOpHOAYTwSg==\",\"hasNextPage\":true}}}},{\"node\":{\"id\":\"MDQ6VGVhbTQ4NTgxNzA=\",\"name\":\"Childteam\",\"url\":\"https://github.com/orgs/Kei-Institute/teams/childteam\",\"slug\":\"childteam\",\"members\":{\"edges\":[{\"node\":{\"id\":\"MDQ6VXNlcjYyNDkyMDk3\",\"login\":\"kevincasey1222\"},\"role\":\"MAINTAINER\"}],\"pageInfo\":{\"endCursor\":\"Y3Vyc29yOnYyOpHOA7mNwQ==\",\"hasNextPage\":false}}}}],\"pageInfo\":{\"endCursor\":\"Y3Vyc29yOnYyOpMCqUNoaWxkdGVhbc4ASiE6\",\"hasNextPage\":true}}},\"rateLimit\":{\"limit\":5000,\"cost\":1,\"remaining\":4981,\"resetAt\":\"2021-06-04T19:49:50Z\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-github-media-type",
              "value": "github.v4"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "5000"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "4981"
         [...]
