{
  "log": {
    "_recordingName": "GitHubGraphQLClient.fetchOrganization.childOnly",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "aadb03954d498cafcdffffac94111993",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "Bearer [REDACTED]"
            }
          ],
          "method": "POST",
          "queryString": [],
          "url": "https://api.github.com/app/installations/7498286/access_tokens"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 276,
            "text": "{\"token\":\"[REDACTED]\",\"expires_at\":\"2050-12-31T18:09:20Z\",\"permissions\":{\"members\":\"read\",\"organization_administration\":\"read\",\"metadata\":\"read\",\"pull_requests\":\"read\",\"statuses\":\"read\",\"vulnerability_alerts\":\"read\"},\"repository_selection\":\"all\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"dffa019812cccbc9bd2e0f129156f8df793aa1ffec70019311fc4506bca37bda\""
            },
            {
              "name": "x-github-media-type",
              "value": "github.v3; param=machine-man-preview; format=json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 270,
      },
      {
        "_id": "22e4c882794d943e8a6f0961702d5000",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer [REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"query\":\"query ($login: String!, $teams: String, $members: String) {\\n    organization(login: $login) {\\n        id\\n        teams(first: 100, after: $teams) {\\n        edges {\\n          node {\\n            id\\n            members(first: 100, after: $members) {\\n        edges {\\n          node {\\n            id\\n            ... teamMemberFields\\n          }\\n          ... teamMemberEdgeFields\\n        }\\n        pageInfo {\\n  endCursor\\n  hasNextPage\\n}\\n      }\\n          }\\n        }\\n        pageInfo {\\n  endCursor\\n  hasNextPage\\n}\\n      }\\n      }\\n... rateLimit\\n  }\\n\\nfragment teamMemberFields on User {\\n    name\\n    login\\n  }\\n\\nfragment teamMemberEdgeFields on TeamMemberEdge {\\n    role\\n  }\\n\\nfragment rateLimit on Query {\\n    rateLimit {\\n      limit\\n      cost\\n      remaining\\n      resetAt\\n    }\\n  }\",\"variables\":{\"login\":\"Kei-Institute\"}}"
          },
          "queryString": [],
          "url": "https://api.github.com/graphql"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 83,
            "text": "{\"message\":\"Bad credentials\",\"documentation_url\":\"https://docs.github.com/graphql\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-github-media-type",
              "value": "github.v4"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "0"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "0"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1635887475"
            },
            {
              "name": "x-ratelimit-used",
              "value": "0"
            },
            {
              "name": "x-ratelimit-resource",
              "value": "graphql"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 233,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
