{
  "log": {
    "_recordingName": "GitHubGraphQLClient.fetchOrganization.childOnly",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "22e4c882794d943e8a6f0961702d5000",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer [REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"query\":\"query ($login: String!, $slug: String, $members: String) {\\n  organization(login: $login) {\\n      id\\n      teams(first: 1, query: $slug, orderBy: {field: NAME, direction: ASC}) {\\n      edges {\\n        node {\\n          id\\n          members(first: 100, after: $members) {\\n      edges {\\n        node {\\n          id\\n          ... teamMemberFields\\n        }\\n        ... teamMemberEdgeFields\\n      }\\n      pageInfo {\\nendCursor\\nhasNextPage\\n}\\n    }\\n        }\\n      }\\n      pageInfo {\\nendCursor\\n}\\n    }\\n    }\\n... rateLimit\\n}\\n\\nfragment teamMemberFields on User {\\n    name\\n    login\\n  }\\n\\nfragment teamMemberEdgeFields on TeamMemberEdge {\\n    role\\n  }\\n\\nfragment rateLimit on Query {\\n    rateLimit {\\n      limit\\n      cost\\n      remaining\\n      resetAt\\n    }\\n  }\",\"variables\":{\"login\":\"Kei-Institute\",\"slug\":\"betterteam\"}}"
          },
          "queryString": [],
          "url": "https://api.github.com/graphql"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 671,
            "text": "{\"data\":{\"organization\":{\"id\":\"MDEyOk9yZ2FuaXphdGlvbjg0OTIzNTAz\",\"teams\":{\"edges\":[{\"node\":{\"id\":\"MDQ6VGVhbTQ4NTgxNjk=\",\"members\":{\"edges\":[{\"node\":{\"id\":\"MDQ6VXNlcjUxMzUyMw==\",\"name\":\"Erich Smith\",\"login\":\"erichs\"},\"role\":\"MEMBER\"},{\"node\":{\"id\":\"MDQ6VXNlcjI1NDg5NDgy\",\"name\":\"Michael Knoedel\",\"login\":\"mknoedel\"},\"role\":\"MEMBER\"},{\"node\":{\"id\":\"MDQ6VXNlcjYyNDkyMDk3\",\"name\":\"Kevin Casey\",\"login\":\"kevincasey1222\"},\"role\":\"MAINTAINER\"}],\"pageInfo\":{\"endCursor\":\"Y3Vyc29yOnYyOpHOA7mNwQ==\",\"hasNextPage\":false}}}}],\"pageInfo\":{\"endCursor\":\"Y3Vyc29yOnYyOpMCqkJldHRlcnRlYW3OAEohOQ==\"}}},\"rateLimit\":{\"limit\":5000,\"cost\":1,\"remaining\":4970,\"resetAt\":\"2021-12-06T23:57:13Z\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-github-media-type",
              "value": "github.v4"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "5000"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "4970"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1638835033"
            },
            {
              "name": "x-ratelimit-used",
              "value": "30"
            },
            {
              "name": "x-ratelimit-resource",
              "value": "graphql"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 401,
      },
      {
        "_id": "aadb03954d498cafcdffffac94111993",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "Bearer [REDACTED]"
            }
          ],
          "method": "POST",
          "queryString": [],
          "url": "https://api.github.com/app/installations/7498286/access_tokens"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 276,
            "text": "{\"token\":\"[REDACTED]\",\"expires_at\":\"2050-12-31T18:09:20Z\",\"permissions\":{\"members\":\"read\",\"organization_administration\":\"read\",\"metadata\":\"read\",\"pull_requests\":\"read\",\"statuses\":\"read\",\"vulnerability_alerts\":\"read\"},\"repository_selection\":\"all\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"dffa019812cccbc9bd2e0f129156f8df793aa1ffec70019311fc4506bca37bda\""
            },
            {
              "name": "x-github-media-type",
              "value": "github.v3; param=machine-man-preview; format=json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 270,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
