{
  "log": {
    "_recordingName": "GitHubGraphQLClient.fetchOrganization.singlePage",
    "creator": {
      "comment": "persister:SafeHeadersFSPersister",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "c6308fae92f90fd460cc67e6991726ba",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer [REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"query\":\"query ($login: String!, $repositories: String) {\\n      organization(login: $login) {\\n    id\\n    ... organizationFields\\n    repositories(first: 2, after: $repositories) {\\n    nodes {\\n      id\\n      ... repositoryFields\\n      \\n    }\\n\\n    pageInfo {\\n  endCursor\\n  hasNextPage\\n}\\n  }\\n  }\\n... rateLimit\\n    }\\n\\nfragment organizationFields on Organization {\\n    login\\n    name\\n  }\\n\\nfragment repositoryFields on Repository {\\n    name\\n    nameWithOwner\\n    url\\n    isPrivate\\n    isArchived\\n  }\\n\\nfragment rateLimit on Query {\\n    rateLimit {\\n      limit\\n      cost\\n      remaining\\n      resetAt\\n    }\\n  }\",\"variables\":{\"login\":\"github-app-test\"}}"
          },
          "queryString": [],
          "url": "https://api.github.com/graphql"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 501,
            "text": "{\"data\":{\"organization\":{\"id\":\"MDEyOk9yZ2FuaXphdGlvbjUwNjI3MjE5\",\"login\":\"github-app-test\",\"name\":\"github-app-test\",\"repositories\":{\"nodes\":[{\"id\":\"MDEwOlJlcG9zaXRvcnkxODcyMjc5OTM=\",\"name\":\"power-demo\",\"nameWithOwner\":\"github-app-test/power-demo\",\"url\":\"https://github.com/github-app-test/power-demo\",\"isPrivate\":false,\"isArchived\":false}],\"pageInfo\":{\"endCursor\":\"Y3Vyc29yOnYyOpHOCyjfWQ==\",\"hasNextPage\":false}}},\"rateLimit\":{\"limit\":5000,\"cost\":1,\"remaining\":4995,\"resetAt\":\"2019-10-21T14:41:59Z\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "status",
              "value": "200 OK"
            },
            {
              "name": "x-github-media-type",
              "value": "github.v4"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "5000"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "4995"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1571668919"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 376,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
