{
  "log": {
    "_recordingName": "steps",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "7f2926ac1ad814d2dfcaf9525a63bf36",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "Bearer [REDACTED]"
            }
          ],
          "method": "POST",
          "queryString": [],
          "url": "https://api.github.com/app/installations/17214088/access_tokens"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 918,
            "text": "{\"token\":\"[REDACTED]\",\"expires_at\":\"2021-09-13T20:50:28Z\",\"permissions\":{\"members\":\"write\",\"organization_administration\":\"write\",\"organization_events\":\"read\",\"organization_hooks\":\"write\",\"organization_packages\":\"write\",\"organization_plan\":\"read\",\"organization_projects\":\"read\",\"organization_secrets\":\"write\",\"organization_self_hosted_runners\":\"write\",\"organization_user_blocking\":\"write\",\"team_discussions\":\"write\",\"actions\":\"write\",\"administration\":\"write\",\"checks\":\"write\",\"contents\":\"write\",\"deployments\":\"write\",\"discussions\":\"write\",\"environments\":\"write\",\"issues\":\"write\",\"metadata\":\"read\",\"packages\":\"write\",\"pages\":\"write\",\"pull_requests\":\"write\",\"repository_hooks\":\"write\",\"repository_projects\":\"admin\",\"secrets\":\"write\",\"secret_scanning_alerts\":\"write\",\"security_events\":\"write\",\"statuses\":\"write\",\"vulnerability_alerts\":\"read\",\"workflows\":\"write\"},\"repository_selection\":\"all\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"8314315f6e5e96aad857ebb14bc1300017f56bfff7abb05eeb95987ee33a3ee8\""
            },
            {
              "name": "x-github-media-type",
              "value": "github.v3; param=machine-man-preview; format=json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 312,
      },
      {
        "_id": "90e92246ca868687b35a21f1736a0e7d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "Bearer [REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.github.com/app/installations/17214088"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1683,
            "text": "{\"id\":17214088,\"account\":{\"login\":\"Kei-Institute\",\"id\":84923503,\"node_id\":\"MDEyOk9yZ2FuaXphdGlvbjg0OTIzNTAz\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/84923503?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/Kei-Institute\",\"html_url\":\"https://github.com/Kei-Institute\",\"followers_url\":\"https://api.github.com/users/Kei-Institute/followers\",\"following_url\":\"https://api.github.com/users/Kei-Institute/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/Kei-Institute/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/Kei-Institute/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/Kei-Institute/subscriptions\",\"organizations_url\":\"https://api.github.com/users/Kei-Institute/orgs\",\"repos_url\":\"https://api.github.com/users/Kei-Institute/repos\",\"events_url\":\"https://api.github.com/users/Kei-Institute/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/Kei-Institute/received_events\",\"type\":\"Organization\",\"site_admin\":false},\"repository_selection\":\"all\",\"access_tokens_url\":\"https://api.github.com/app/installations/17214088/access_tokens\",\"repositories_url\":\"https://api.github.com/installation/repositories\",\"html_url\":\"https://github.com/organizations/Kei-Institute/settings/installations/17214088\",\"app_id\":117431,\"app_slug\":\"jupiterone-kei-institute\",\"target_id\":84923503,\"target_type\":\"Organization\",\"permissions\":{\"pages\":\"write\",\"checks\":\"write\",\"issues\":\"write\",\"actions\":\"write\",\"members\":\"write\",\"secrets\":\"write\",\"contents\":\"write\",\"metadata\":\"read\",\"packages\":\"write\",\"statuses\":\"write\",\"workflows\":\"write\",\"deployments\":\"write\",\"discussions\":\"write\",\"environments\":\"write\",\"pull_requests\":\"write\",\"administration\":\"write\",\"security_events\":\"write\",\"repository_hooks\":\"write\",\"team_discussions\":\"write\",\"organization_plan\":\"read\",\"organization_hooks\":\"write\",\"organization_events\":\"read\",\"repository_projects\":\"admin\",\"organization_secrets\":\"write\",\"vulnerability_alerts\":\"read\",\"organization_packages\":\"write\",\"organization_projects\":\"read\",\"secret_scanning_alerts\":\"write\",\"organization_user_blocking\":\"write\",\"organization_administration\":\"write\",\"organization_self_hosted_runners\":\"write\"},\"events\":[],\"created_at\":\"2021-05-27T15:42:53.000Z\",\"updated_at\":\"2021-07-22T15:41:27.000Z\",\"single_file_name\":null,\"has_multiple_single_files\":false,\"single_file_paths\":[],\"suspended_by\":null,\"suspended_at\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"fbd1a40ca6122a4e41079bff3e204f014315904ab2be0af2b0e76545cb4535db\""
            },
            {
              "name": "x-github-media-type",
              "value": "github.v3; format=json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 263,
      },
      {
        "_id": "22e4c882794d943e8a6f0961702d5000",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer [REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"query\":\"query ($login: String!, $membersWithRole: String, $teams: String, $members: String, $repositories: String) {\\n    organization(login: $login) {\\n        id\\n        ... organizationFields\\n        membersWithRole(first: 100, after: $membersWithRole) {\\n        edges {\\n          node {\\n            id\\n            ... userFields\\n            \\n          }\\n          ... userEdgeFields\\n        }\\n        pageInfo {\\n  endCursor\\n  hasNextPage\\n}\\n      }\\nteams(first: 100, af[...]
