{
  "log": {
    "_recordingName": "steps",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "7f2926ac1ad814d2dfcaf9525a63bf36",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "Bearer [REDACTED]"
            }
          ],
          "method": "POST",
          "queryString": [],
          "url": "https://api.github.com/app/installations/17214088/access_tokens"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 575,
            "text": "{\"token\":\"[REDACTED]\",\"expires_at\":\"2021-06-03T19:21:15Z\",\"permissions\":{\"members\":\"read\",\"organization_packages\":\"write\",\"actions\":\"write\",\"administration\":\"write\",\"checks\":\"write\",\"contents\":\"write\",\"deployments\":\"write\",\"discussions\":\"write\",\"environments\":\"write\",\"issues\":\"write\",\"metadata\":\"read\",\"packages\":\"write\",\"pages\":\"write\",\"pull_requests\":\"write\",\"repository_hooks\":\"write\",\"repository_projects\":\"admin\",\"secrets\":\"write\",\"secret_scanning_alerts\":\"write\",\"security_events\":\"write\",\"statuses\":\"write\"},\"repository_selection\":\"all\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"915a3b2df47af42593f2cf5d0b0ee7904fced9bd1b61356b7f539953df544bf1\""
            },
            {
              "name": "x-github-media-type",
              "value": "github.v3; param=machine-man-preview; format=json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 332,
      },
      {
        "_id": "90e92246ca868687b35a21f1736a0e7d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "Bearer [REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.github.com/app/installations/17214088"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1513,
            "text": "{\"id\":17214088,\"account\":{\"login\":\"Kei-Institute\",\"id\":84923503,\"node_id\":\"MDEyOk9yZ2FuaXphdGlvbjg0OTIzNTAz\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/84923503?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/Kei-Institute\",\"html_url\":\"https://github.com/Kei-Institute\",\"followers_url\":\"https://api.github.com/users/Kei-Institute/followers\",\"following_url\":\"https://api.github.com/users/Kei-Institute/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/Kei-Institute/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/Kei-Institute/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/Kei-Institute/subscriptions\",\"organizations_url\":\"https://api.github.com/users/Kei-Institute/orgs\",\"repos_url\":\"https://api.github.com/users/Kei-Institute/repos\",\"events_url\":\"https://api.github.com/users/Kei-Institute/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/Kei-Institute/received_events\",\"type\":\"Organization\",\"site_admin\":false},\"repository_selection\":\"all\",\"access_tokens_url\":\"https://api.github.com/app/installations/17214088/access_tokens\",\"repositories_url\":\"https://api.github.com/installation/repositories\",\"html_url\":\"https://github.com/organizations/Kei-Institute/settings/installations/17214088\",\"app_id\":117431,\"app_slug\":\"jupiterone-kei-institute\",\"target_id\":84923503,\"target_type\":\"Organization\",\"permissions\":{\"pages\":\"write\",\"checks\":\"write\",\"issues\":\"write\",\"actions\":\"write\",\"members\":\"read\",\"secrets\":\"write\",\"contents\":\"write\",\"metadata\":\"read\",\"packages\":\"write\",\"statuses\":\"write\",\"deployments\":\"write\",\"discussions\":\"write\",\"environments\":\"write\",\"pull_requests\":\"write\",\"administration\":\"write\",\"security_events\":\"write\",\"repository_hooks\":\"write\",\"repository_projects\":\"admin\",\"organization_packages\":\"write\",\"secret_scanning_alerts\":\"write\"},\"events\":[],\"created_at\":\"2021-05-27T15:42:53.000Z\",\"updated_at\":\"2021-06-01T16:32:14.000Z\",\"single_file_name\":null,\"has_multiple_single_files\":false,\"single_file_paths\":[],\"suspended_by\":null,\"suspended_at\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"0d180bdbbf8e18afd00b51f26a593435244d4c729a97a410e52d30413d1c4307\""
            },
            {
              "name": "x-github-media-type",
              "value": "github.v3; param=machine-man-preview; format=json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 304,
      },
      {
        "_id": "22e4c882794d943e8a6f0961702d5000",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer [REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://api.github.com/graphql"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1876,
            "text": "{\"data\":{\"organization\":{\"id\":\"MDEyOk9yZ2FuaXphdGlvbjg0OTIzNTAz\",\"login\":\"Kei-Institute\",\"name\":\"Kei-Institute\",\"membersWithRole\":{\"edges\":[{\"node\":{\"id\":\"MDQ6VXNlcjYyNDkyMDk3\",\"login\":\"kevincasey1222\",\"name\":\"Kevin Casey\",\"isSiteAdmin\":false},\"hasTwoFactorEnabled\":null,\"role\":\"ADMIN\"}],\"pageInfo\":{\"endCursor\":\"Y3Vyc29yOnYyOpHOA7mNwQ==\",\"hasNextPage\":false}},\"teams\":{\"edges\":[{\"node\":{\"id\":\"MDQ6VGVhbTQ4NTgxNjk=\",\"name\":\"Betterteam\",\"url\":\"https://github.com/orgs/Kei-Institute/teams/betterteam\",\"slug\":\"betterteam\",\"members\":{\"edges\":[{\"node\":{\"id\":\"MDQ6VXNlcjYyNDkyMDk3\",\"login\":\"kevincasey1222\"},\"role\":\"MAINTAINER\"}],\"pageInfo\":{\"endCursor\":\"Y3Vyc29yOnYyOpHOA7mNwQ==\",\"hasNextPage\":false}}}},{\"node\":{\"id\":\"MDQ6VGVhbTQ4NTgxNzA=\",\"name\":\"Childteam\",\"url\":\"https://github.com/orgs/Kei-Institute/teams/childteam\",\"slug\":\"childteam\",\"members\":{\"edges\":[{\"node\":{\"id\":\"MDQ6VXNlcjYyNDkyMDk3\",\"login\":\"kevincasey1222\"},\"role\":\"MAINTAINER\"}],\"pageInfo\":{\"endCursor\":\"Y3Vyc29yOnYyOpHOA7mNwQ==\",\"hasNextPage\":false}}}},{\"node\":{\"id\":\"MDQ6VGVhbTQ4NTc0OTU=\",\"name\":\"Test team\",\"url\":\"https://github.com/orgs/Kei-Institute/teams/test-team\",\"slug\":\"test-team\",\"members\":{\"edges\":[{\"node\":{\"id\":\"MDQ6VXNlcjYyNDkyMDk3\",\"login\":\"kevincasey1222\"},\"role\":\"MAINTAINER\"}],\"pageInfo\":{\"endCursor\":\"Y3Vyc29yOnYyOpHOA7mNwQ==\",\"hasNextPage\":false}}}}],\"pageInfo\":{\"endCursor\":\"Y3Vyc29yOnYyOpMCqVRlc3QgdGVhbc4ASh6X\",\"hasNextPage\":false}},\"repositories\":{\"edges\":[{\"node\":{\"id\":\"MDEwOlJlcG9zaXRvcnkzNzE0MTk1OTg=\",\"name\":\"Test-repo\",\"nameWithOwner\":\"Kei-Institute/Test-repo\",\"url\":\"https://github.com/Kei-Institute/Test-repo\",\"isPrivate\":false,\"isArchived\":false,\"createdAt\":\"2021-05-27T15:23:24Z\",\"updatedAt\":\"2021-05-27T15:23:28Z\"}}],\"pageInfo\":{\"endCursor\":\"Y3Vyc29yOnYyOpHOFiNpzg==\",\"hasNextPage\":false}}},\"rateLimit\":{\"limit\":5000,\"cost\":1,\"remaining\":4945,\"resetAt\":\"2021-06-03T18:31:45Z\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-github-media-type",
              "value": "github.v4"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "5000"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "4945"
         [...]
