{
  "log": {
    "_recordingName": "repos",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "f13f3f3dcf87065d27af1cac191fa6e2",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "queryString": [],
          "url": "https://api.github.com/app/installations/32841752/access_tokens"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 543,
            "text": "{\"token\":\"[REDACTED]\",\"expires_at\":\"2050-12-31T18:09:20Z\",\"permissions\":{\"members\":\"read\",\"organization_administration\":\"read\",\"organization_secrets\":\"read\",\"actions\":\"read\",\"administration\":\"write\",\"checks\":\"read\",\"contents\":\"read\",\"discussions\":\"read\",\"environments\":\"read\",\"issues\":\"read\",\"metadata\":\"read\",\"pages\":\"read\",\"pull_requests\":\"read\",\"repository_advisories\":\"read\",\"secrets\":\"read\",\"secret_scanning_alerts\":\"read\",\"security_events\":\"read\",\"vulnerability_alerts\":\"read\"},\"repository_selection\":\"all\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"b17a209e2d8f9acfc40ba9fc52ed9323d0b7de36dc6cf4ba1a6833e61021d420\""
            },
            {
              "name": "x-github-media-type",
              "value": "github.v3; param=machine-man-preview; format=json"
            },
            {
              "name": "x-github-api-version-selected",
              "value": "2022-11-28"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 555,
      },
      {
        "_id": "9ca046c0c3e008801800630bedd7bdf3",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.github.com/app/installations/32841752"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 979,
            "text": "{\"id\":32841752,\"account\":{\"login\":\"JupiterOne-Sandbox\",\"id\":121981149,\"node_id\":\"O_kgDOB0VI3Q\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/121981149?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/JupiterOne-Sandbox\",\"html_url\":\"https://github.com/JupiterOne-Sandbox\",\"followers_url\":\"https://api.github.com/users/JupiterOne-Sandbox/followers\",\"following_url\":\"https://api.github.com/users/JupiterOne-Sandbox/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/JupiterOne-Sandbox/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/JupiterOne-Sandbox/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/JupiterOne-Sandbox/subscriptions\",\"organizations_url\":\"https://api.github.com/users/JupiterOne-Sandbox/orgs\",\"repos_url\":\"https://api.github.com/users/JupiterOne-Sandbox/repos\",\"events_url\":\"https://api.github.com/users/JupiterOne-Sandbox/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/JupiterOne-Sandbox/received_events\",\"type\":\"Organization\",\"site_admin\":false},\"repository_selection\":\"all\",\"access_tokens_url\":\"https://api.github.com/app/installations/32841752/access_tokens\",\"repositories_url\":\"https://api.github.com/installation/repositories\",\"html_url\":\"https://github.com/organizations/JupiterOne-Sandbox/settings/installations/32841752\",\"app_id\":278393,\"app_slug\":\"j1-ingest-cg\",\"target_id\":121981149,\"target_type\":\"Organization\",\"permissions\":{\"pages\":\"read\",\"checks\":\"read\",\"issues\":\"read\",\"actions\":\"read\",\"members\":\"read\",\"secrets\":\"read\",\"contents\":\"read\",\"metadata\":\"read\",\"discussions\":\"read\",\"environments\":\"read\",\"pull_requests\":\"read\",\"administration\":\"write\",\"security_events\":\"read\",\"organization_secrets\":\"read\",\"vulnerability_alerts\":\"read\",\"repository_advisories\":\"read\",\"secret_scanning_alerts\":\"read\",\"organization_administration\":\"read\"},\"events\":[],\"created_at\":\"2023-01-05T16:02:41.000Z\",\"updated_at\":\"2023-10-26T16:42:52.000Z\",\"single_file_name\":null,\"has_multiple_single_files\":false,\"single_file_paths\":[],\"suspended_by\":null,\"suspended_at\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"9ed95f0e21ba5ab140947af02f0c8f9bc76e3dc3d415b88e0c6cc29b18ede4a4\""
            },
            {
              "name": "x-github-media-type",
              "value": "github.v3; format=json"
            },
            {
              "name": "x-github-api-version-selected",
              "value": "2022-11-28"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 336,
      },
      {
        "_id": "22e4c882794d943e8a6f0961702d5000",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json; charset=utf-8",
            "params": [],
            "text": "{\"query\":\"\\n    query ($login: String!) {\\n      organization(login: $login) {\\n        id\\n        login\\n        name\\n        createdAt\\n        updatedAt\\n        description\\n        email\\n        databaseId\\n        isVerified\\n        location\\n        websiteUrl\\n        url\\n      }\\n      ...on Query {\\n    rateLimit {\\n      limit\\n      cost\\n      remaining\\n      resetAt\\n    }\\n  }\\n    }\",\"variables\":{\"login\":\"JupiterOne-Sandbox\"}}"
          },
          "queryString": [],
          "url": "https://api.github.com/graphql"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 427,
            "text": "{\"data\":{\"organization\":{\"id\":\"O_kgDOB0VI3Q\",\"login\":\"JupiterOne-Sandbox\",\"name\":\"JupiterOne Sandbox\",\"createdAt\":\"2023-01-04T21:30:17Z\",\"updatedAt\":\"2023-03-17T20:49:58Z\",\"description\":\"\",\"email\":\"hello@jupiterone.com\",\"databaseId\":121981149,\"isVerified\":false,\"location\":\"United States of America\",\"websiteUrl\":\"https://jupiterone.com\",\"url\":\"https://github.com/JupiterOne-Sandbox\"},\"rateLimit\":{\"limit\":5000,\"cost\":1,\"remaining\":5000,\"resetAt\":\"2023-10-26T17:41:23Z\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-github-media-type",
              "value": "github.v3; format=json"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "5000"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "50[...]
