{
  "log": {
    "_recordingName": "GitHubGraphQLClient.fetchOrganization.multiplePages",
    "creator": {
      "comment": "persister:SafeHeadersFSPersister",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "7dc7342c9fa8af96b79d8b3ea4602f28",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "Bearer [REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json; charset=utf-8",
            "params": [],
            "text": "{}"
          },
          "queryString": [],
          "url": "https://api.github.com/app/installations/953957/access_tokens"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 239,
            "text": "{\"token\":\"[REDACTED]\",\"expires_at\":\"2021-05-04T18:10:14Z\",\"permissions\":{\"members\":\"read\",\"metadata\":\"read\",\"pull_requests\":\"read\",\"statuses\":\"read\",\"vulnerability_alerts\":\"read\"},\"repository_selection\":\"all\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"9326449c00313b8b859e27e66484f6efed7468eac62beeb59ec78fd1be61a43d\""
            },
            {
              "name": "x-github-media-type",
              "value": "github.v3; param=machine-man-preview; format=json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 238,
      },
      {
        "_id": "c5f3fad1d7dce39119698d5c2c210848",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer [REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"query\":\"query ($login: String!, $members: String) {\\n    organization(login: $login) {\\n        id\\n        ... organizationFields\\n        membersWithRole(first: 2, after: $members) {\\n        edges {\\n          node {\\n            id\\n            ... userFields\\n            \\n          }\\n\\n          ... userEdgeFields\\n        }\\n\\n        pageInfo {\\n  endCursor\\n  hasNextPage\\n}\\n      }\\n      }\\n... rateLimit\\n  }\\n\\nfragment organizationFields on Organization {\\n    login\\n    name\\n  }\\n\\nfragment userFields on User {\\n    login\\n    name\\n    isSiteAdmin\\n  }\\n\\nfragment userEdgeFields on OrganizationMemberEdge {\\n    hasTwoFactorEnabled\\n    role\\n  }\\n\\nfragment rateLimit on Query {\\n    rateLimit {\\n      limit\\n      cost\\n      remaining\\n      resetAt\\n    }\\n  }\",\"variables\":{\"login\":\"github-app-test\"}}"
          },
          "queryString": [],
          "url": "https://api.github.com/graphql"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 583,
            "text": "{\"data\":{\"organization\":{\"id\":\"MDEyOk9yZ2FuaXphdGlvbjUwNjI3MjE5\",\"login\":\"github-app-test\",\"name\":\"github-app-test\",\"membersWithRole\":{\"edges\":[{\"node\":{\"id\":\"MDQ6VXNlcjE1MjY0NDU=\",\"login\":\"fomentia\",\"name\":\"Isaac Williams\",\"isSiteAdmin\":false},\"hasTwoFactorEnabled\":null,\"role\":\"MEMBER\"},{\"node\":{\"id\":\"MDQ6VXNlcjUwNjI3MTgx\",\"login\":\"fomentia2\",\"name\":null,\"isSiteAdmin\":false},\"hasTwoFactorEnabled\":null,\"role\":\"ADMIN\"}],\"pageInfo\":{\"endCursor\":\"Y3Vyc29yOnYyOpHOAwSCbQ==\",\"hasNextPage\":true}}},\"rateLimit\":{\"limit\":5000,\"cost\":1,\"remaining\":4989,\"resetAt\":\"2021-05-04T18:07:12Z\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-github-media-type",
              "value": "github.v4"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "5000"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "4989"
         [...]
