{
  "log": {
    "_recordingName": "GitHubGraphQLClient.fetchOrganization.singlePage",
    "creator": {
      "comment": "persister:SafeHeadersFSPersister",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "7dc7342c9fa8af96b79d8b3ea4602f28",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "Bearer [REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json; charset=utf-8",
            "params": [],
            "text": "{}"
          },
          "queryString": [],
          "url": "https://api.github.com/app/installations/953957/access_tokens"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 239,
            "text": "{\"token\":\"[REDACTED]\",\"expires_at\":\"2021-05-04T18:10:13Z\",\"permissions\":{\"members\":\"read\",\"metadata\":\"read\",\"pull_requests\":\"read\",\"statuses\":\"read\",\"vulnerability_alerts\":\"read\"},\"repository_selection\":\"all\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"5b928d4b5a1782c9e5e9c5ddc5c07dbbf24128a26eb10ef7d23cc66586178709\""
            },
            {
              "name": "x-github-media-type",
              "value": "github.v3; param=machine-man-preview; format=json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 308,
      },
      {
        "_id": "acc2fa50e828b2d11e0cbc644c9d2bb0",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer [REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"query\":\"query ($login: String!, $repositories: String) {\\n    organization(login: $login) {\\n        id\\n        ... organizationFields\\n        repositories(first: 2, after: $repositories) {\\n        edges {\\n          node {\\n            id\\n            ... repositoryFields\\n            \\n          }\\n        }\\n\\n        pageInfo {\\n  endCursor\\n  hasNextPage\\n}\\n      }\\n      }\\n... rateLimit\\n  }\\n\\nfragment organizationFields on Organization {\\n    login\\n    name\\n  }\\n\\nfragment repositoryFields on Repository {\\n    name\\n    nameWithOwner\\n    url\\n    isPrivate\\n    isArchived\\n    createdAt\\n    updatedAt\\n  }\\n\\nfragment rateLimit on Query {\\n    rateLimit {\\n      limit\\n      cost\\n      remaining\\n      resetAt\\n    }\\n  }\",\"variables\":{\"login\":\"github-app-test\"}}"
          },
          "queryString": [],
          "url": "https://api.github.com/graphql"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 580,
            "text": "{\"data\":{\"organization\":{\"id\":\"MDEyOk9yZ2FuaXphdGlvbjUwNjI3MjE5\",\"login\":\"github-app-test\",\"name\":\"github-app-test\",\"repositories\":{\"edges\":[{\"node\":{\"id\":\"MDEwOlJlcG9zaXRvcnkxODcyMjc5OTM=\",\"name\":\"power-demo\",\"nameWithOwner\":\"github-app-test/power-demo\",\"url\":\"https://github.com/github-app-test/power-demo\",\"isPrivate\":false,\"isArchived\":false,\"createdAt\":\"2019-05-17T14:11:43Z\",\"updatedAt\":\"2019-05-30T15:26:10Z\"}}],\"pageInfo\":{\"endCursor\":\"Y3Vyc29yOnYyOpHOCyjfWQ==\",\"hasNextPage\":false}}},\"rateLimit\":{\"limit\":5000,\"cost\":1,\"remaining\":4990,\"resetAt\":\"2021-05-04T18:07:12Z\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-github-media-type",
              "value": "github.v4"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "5000"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "4990"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1620151632"
            },
            {
              "name": "x-ratelimit-used",
              "value": "10"
            },
            {
              "name": "x-ratelimit-resource",
              "value": "graphql"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 259,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
