{
  "log": {
    "_recordingName": "GitHubGraphQLClient.fetchOrganization.singlePage",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "aadb03954d498cafcdffffac94111993",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "Bearer [REDACTED]"
            }
          ],
          "method": "POST",
          "queryString": [],
          "url": "https://api.github.com/app/installations/7498286/access_tokens"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 276,
            "text": "{\"token\":\"[REDACTED]\",\"expires_at\":\"2050-12-31T18:09:20Z\",\"permissions\":{\"members\":\"read\",\"organization_administration\":\"read\",\"metadata\":\"read\",\"pull_requests\":\"read\",\"statuses\":\"read\",\"vulnerability_alerts\":\"read\"},\"repository_selection\":\"all\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"d70085e13145b1ed287745a4765b2394d9058315bf80e6054b730e19e6a96484\""
            },
            {
              "name": "x-github-media-type",
              "value": "github.v3; param=machine-man-preview; format=json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 283,
      },
      {
        "_id": "22e4c882794d943e8a6f0961702d5000",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer [REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"query\":\"query ($login: String!, $repositories: String) {\\n      organization(login: $login) {\\n          id\\n          repositories(first: 100, after: $repositories) {\\n          edges {\\n            node {\\n              id\\n              ... repositoryFields\\n            }\\n          }\\n          pageInfo {\\n    endCursor\\n    hasNextPage\\n  }\\n        }\\n        }\\n  ... rateLimit\\n    }\\n\\nfragment repositoryFields on Repository {\\n    name\\n    nameWithOwner\\n    url\\n    isPrivate\\n    isArchived\\n    createdAt\\n    updatedAt\\n    autoMergeAllowed\\n    databaseId\\n    deleteBranchOnMerge\\n    description\\n    forkCount\\n    forkingAllowed\\n    homepageUrl\\n    isDisabled\\n    isEmpty\\n    isFork\\n    isInOrganization\\n    isLocked\\n    isMirror\\n    isSecurityPolicyEnabled\\n    isTemplate\\n    isUserConfigurationRepository\\n    lockReason\\n    mergeCommitAllowed\\n    pushedAt\\n    rebaseMergeAllowed\\n    url\\n  }\\n\\nfragment rateLimit on Query {\\n    rateLimit {\\n      limit\\n      cost\\n      remaining\\n      resetAt\\n    }\\n  }\",\"variables\":{\"login\":\"Kei-Institute\"}}"
          },
          "queryString": [],
          "url": "https://api.github.com/graphql"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 83,
            "text": "{\"message\":\"Bad credentials\",\"documentation_url\":\"https://docs.github.com/graphql\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-github-media-type",
              "value": "github.v4"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "0"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "0"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1635887465"
            },
            {
              "name": "x-ratelimit-used",
              "value": "0"
            },
            {
              "name": "x-ratelimit-resource",
              "value": "graphql"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 221,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
