{
  "log": {
    "_recordingName": "GitHubGraphQLClient.fetchOrganization.singlePage",
    "creator": {
      "comment": "persister:SafeHeadersFSPersister",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "7f2926ac1ad814d2dfcaf9525a63bf36",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "Bearer [REDACTED]"
            }
          ],
          "method": "POST",
          "queryString": [],
          "url": "https://api.github.com/app/installations/17214088/access_tokens"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 575,
            "text": "{\"token\":\"[REDACTED]\",\"expires_at\":\"2021-06-02T21:13:40Z\",\"permissions\":{\"members\":\"read\",\"organization_packages\":\"write\",\"actions\":\"write\",\"administration\":\"write\",\"checks\":\"write\",\"contents\":\"write\",\"deployments\":\"write\",\"discussions\":\"write\",\"environments\":\"write\",\"issues\":\"write\",\"metadata\":\"read\",\"packages\":\"write\",\"pages\":\"write\",\"pull_requests\":\"write\",\"repository_hooks\":\"write\",\"repository_projects\":\"admin\",\"secrets\":\"write\",\"secret_scanning_alerts\":\"write\",\"security_events\":\"write\",\"statuses\":\"write\"},\"repository_selection\":\"all\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"b9fc365964b2b3a6967bfc7962b5c5bf57800a59945ca296e8bb7c544c54a526\""
            },
            {
              "name": "x-github-media-type",
              "value": "github.v3; param=machine-man-preview; format=json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 395,
      },
      {
        "_id": "22e4c882794d943e8a6f0961702d5000",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer [REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://api.github.com/graphql"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 580,
            "text": "{\"data\":{\"organization\":{\"id\":\"MDEyOk9yZ2FuaXphdGlvbjUwNjI3MjE5\",\"login\":\"github-app-test\",\"name\":\"github-app-test\",\"repositories\":{\"edges\":[{\"node\":{\"id\":\"MDEwOlJlcG9zaXRvcnkxODcyMjc5OTM=\",\"name\":\"power-demo\",\"nameWithOwner\":\"github-app-test/power-demo\",\"url\":\"https://github.com/github-app-test/power-demo\",\"isPrivate\":false,\"isArchived\":false,\"createdAt\":\"2019-05-17T14:11:43Z\",\"updatedAt\":\"2019-05-30T15:26:10Z\"}}],\"pageInfo\":{\"endCursor\":\"Y3Vyc29yOnYyOpHOCyjfWQ==\",\"hasNextPage\":false}}},\"rateLimit\":{\"limit\":5000,\"cost\":1,\"remaining\":4993,\"resetAt\":\"2021-06-02T21:13:18Z\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-github-media-type",
              "value": "github.v4"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "5000"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "4993"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1622668398"
            },
            {
              "name": "x-ratelimit-used",
              "value": "7"
            },
            {
              "name": "x-ratelimit-resource",
              "value": "graphql"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 482,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
