{
  "log": {
    "_recordingName": "ingestCommitRange.organization",
    "creator": {
      "comment": "persister:SafeHeadersFSPersister",
      "name": "Polly.JS",
      "version": "2.6.3"
    },
    "entries": [
      {
        "_id": "7dc7342c9fa8af96b79d8b3ea4602f28",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "Bearer [REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json; charset=utf-8",
            "params": [],
            "text": "{}"
          },
          "queryString": [],
          "url": "https://api.github.com/app/installations/953957/access_tokens"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 239,
            "text": "{\"token\":\"[REDACTED]\",\"expires_at\":\"2021-05-05T19:40:06Z\",\"permissions\":{\"members\":\"read\",\"metadata\":\"read\",\"pull_requests\":\"read\",\"statuses\":\"read\",\"vulnerability_alerts\":\"read\"},\"repository_selection\":\"all\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"f57aa8859ef6364a545dd8c88dec552b73f0eca175f63e685792d95d42686c90\""
            },
            {
              "name": "x-github-media-type",
              "value": "github.v3; param=machine-man-preview; format=json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 267,
      },
      {
        "_id": "4f8ae50e0d39e502846f5aa0170ac933",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "Bearer [REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.github.com/app/installations/953957"
        },
        "response": {
          "content": {
            "mimeType": "application/json; c[...]
