{
  "log": {
    "_recordingName": "GitHubGraphQLClient.fetchOrganization.all",
    "creator": {
      "comment": "persister:SafeHeadersFSPersister",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "e2bd764e00f9a2a2591968c373b4c5ef",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer [REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"query\":\"query ($login: String!, $members: String, $teams: String, $teamMembers: String, $repositories: String) {\\n      organization(login: $login) {\\n    id\\n    ... organizationFields\\n    membersWithRole(first: 2, after: $members) {\\n    nodes {\\n      id\\n      ... userFields\\n      \\n    }\\n\\n    pageInfo {\\n  endCursor\\n  hasNextPage\\n}\\n  }\\nteams(first: 2, after: $teams) {\\n    nodes {\\n      id\\n      ... teamFields\\n      members(first: 2, after: $teamMembers) {\\n    nodes {\\n      id\\n      ... teamMemberFields\\n      \\n    }\\n\\n    pageInfo {\\n  endCursor\\n  hasNextPage\\n}\\n  }\\n    }\\n\\n    pageInfo {\\n  endCursor\\n  hasNextPage\\n}\\n  }\\nrepositories(first: 2, after: $repositories) {\\n    nodes {\\n      id\\n      ... repositoryFields\\n      \\n    }\\n\\n    pageInfo {\\n  endCursor\\n  hasNextPage\\n}\\n  }\\n  }\\n... rateLimit\\n    }\\n\\nfragment organizationFields on Organization {\\n    login\\n    name\\n  }\\n\\nfragment userFields on User {\\n    login\\n    name\\n    isSiteAdmin\\n  }\\n\\nfragment teamFields on Team {\\n    name\\n    url\\n    slug\\n  }\\n\\nfragment teamMemberFields on User {\\n    login\\n  }\\n\\nfragment repositoryFields on Repository {\\n    name\\n    nameWithOwner\\n    url\\n    isPrivate\\n    isArchived\\n  }\\n\\nfragment rateLimit on Query {\\n    rateLimit {\\n      limit\\n      cost\\n      remaining\\n      resetAt\\n    }\\n  }\",\"variables\":{\"login\":\"github-app-test\"}}"
          },
          "queryString": [],
          "url": "https://api.github.com/graphql"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1486,
            "text": "{\"data\":{\"organization\":{\"id\":\"MDEyOk9yZ2FuaXphdGlvbjUwNjI3MjE5\",\"login\":\"github-app-test\",\"name\":\"github-app-test\",\"membersWithRole\":{\"nodes\":[{\"id\":\"MDQ6VXNlcjE1MjY0NDU=\",\"login\":\"fomentia\",\"name\":\"Isaac Williams\",\"isSiteAdmin\":false},{\"id\":\"MDQ6VXNlcjUwNjI3MTgx\",\"login\":\"fomentia2\",\"name\":null,\"isSiteAdmin\":false}],\"pageInfo\":{\"endCursor\":\"Y3Vyc29yOnYyOpHOAwSCbQ==\",\"hasNextPage\":true}},\"teams\":{\"nodes\":[{\"id\":\"MDQ6VGVhbTM0NzMyOTc=\",\"name\":\"Cool Kids\",\"url\":\"https://github.com/orgs/github-app-test/teams/cool-kids\",\"slug\":\"cool-kids\",\"members\":{\"nodes\":[{\"id\":\"MDQ6VXNlcjE1MjY0NDU=\",\"login\":\"fomentia\"}],\"pageInfo\":{\"endCursor\":\"Y3Vyc29yOnYyOpHOABdKrQ==\",\"hasNextPage\":false}}},{\"id\":\"MDQ6VGVhbTM0NTM4Njg=\",\"name\":\"Developers\",\"url\":\"https://github.com/orgs/github-app-test/teams/developers\",\"slug\":\"developers\",\"members\":{\"nodes\":[{\"id\":\"MDQ6VXNlcjE1MjY0NDU=\",\"login\":\"fomentia\"},{\"id\":\"MDQ6VXNlcjUwNjI3MTgx\",\"login\":\"fomentia2\"}],\"pageInfo\":{\"endCursor\":\"Y3Vyc29yOnYyOpHOAwSCbQ==\",\"hasNextPage\":true}}}],\"pageInfo\":{\"endCursor\":\"Y3Vyc29yOnYyOpMCqkRldmVsb3BlcnPOADSzrA==\",\"hasNextPage\":true}},\"repositories\":{\"nodes\":[{\"id\":\"MDEwOlJlcG9zaXRvcnkxODcyMjc5OTM=\",\"name\":\"power-demo\",\"nameWithOwner\":\"github-app-test/power-demo\",\"url\":\"https://github.com/github-app-test/power-demo\",\"isPrivate\":false,\"isArchived\":false}],\"pageInfo\":{\"endCursor\":\"Y3Vyc29yOnYyOpHOCyjfWQ==\",\"hasNextPage\":false}}},\"rateLimit\":{\"limit\":5000,\"cost\":1,\"remaining\":4995,\"resetAt\":\"2019-10-21T14:58:16Z\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "status",
              "value": "200 OK"
            },
            {
              "name": "x-github-media-type",
              "value": "github.v4"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "5000"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "4995"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1571669896"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 515,
      },
      {
        "_id": "844847413fafdfddc712e04f68859637",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer [REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"quer[...]
