{
  "log": {
    "_recordingName": "GitHubGraphQLClient.fetchOrganization.childOnly",
    "creator": {
      "comment": "persister:SafeHeadersFSPersister",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "9244b786038863b1da758d3efdf2318f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer [REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"query\":\"query ($login: String!, $teams: String, $teamMembers: String) {\\n      organization(login: $login) {\\n    id\\n    ... organizationFields\\n    teams(first: 2, after: $teams) {\\n    nodes {\\n      id\\n      \\n      members(first: 2, after: $teamMembers) {\\n    nodes {\\n      id\\n      ... teamMemberFields\\n      \\n    }\\n\\n    pageInfo {\\n  endCursor\\n  hasNextPage\\n}\\n  }\\n    }\\n\\n    pageInfo {\\n  endCursor\\n  hasNextPage\\n}\\n  }\\n  }\\n... rateLimit\\n    }\\n\\nfragment organizationFields on Organization {\\n    login\\n    name\\n  }\\n\\nfragment teamMemberFields on User {\\n    login\\n  }\\n\\nfragment rateLimit on Query {\\n    rateLimit {\\n      limit\\n      cost\\n      remaining\\n      resetAt\\n    }\\n  }\",\"variables\":{\"login\":\"github-app-test\"}}"
          },
          "queryString": [],
          "url": "https://api.github.com/graphql"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 706,
            "text": "{\"data\":{\"organization\":{\"id\":\"MDEyOk9yZ2FuaXphdGlvbjUwNjI3MjE5\",\"login\":\"github-app-test\",\"name\":\"github-app-test\",\"teams\":{\"nodes\":[{\"id\":\"MDQ6VGVhbTM0NzMyOTc=\",\"members\":{\"nodes\":[{\"id\":\"MDQ6VXNlcjE1MjY0NDU=\",\"login\":\"fomentia\"}],\"pageInfo\":{\"endCursor\":\"Y3Vyc29yOnYyOpHOABdKrQ==\",\"hasNextPage\":false}}},{\"id\":\"MDQ6VGVhbTM0NTM4Njg=\",\"members\":{\"nodes\":[{\"id\":\"MDQ6VXNlcjE1MjY0NDU=\",\"login\":\"fomentia\"},{\"id\":\"MDQ6VXNlcjUwNjI3MTgx\",\"login\":\"fomentia2\"}],\"pageInfo\":{\"endCursor\":\"Y3Vyc29yOnYyOpHOAwSCbQ==\",\"hasNextPage\":true}}}],\"pageInfo\":{\"endCursor\":\"Y3Vyc29yOnYyOpMCqkRldmVsb3BlcnPOADSzrA==\",\"hasNextPage\":true}}},\"rateLimit\":{\"limit\":5000,\"cost\":1,\"remaining\":4998,\"resetAt\":\"2019-10-21T14:58:16Z\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "status",
              "value": "200 OK"
            },
            {
              "name": "x-github-media-type",
              "value": "github.v4"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "5000"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "4998"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1571669896"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 357,
      },
      {
        "_id": "1ef173c8baab17cf1807dd7ac4d57e8d",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer [REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"query\":\"query ($login: String!, $teams: String, $teamMembers: String) {\\n      organization(login: $login) {\\n    id\\n    ... organizationFields\\n    teams(first: 2, after: $teams) {\\n    nodes {\\n      id\\n      ... teamFields\\n      members(first: 2, after: $teamMembers) {\\n    nodes {\\n      id\\n      ... teamMemberFields\\n      \\n    }\\n\\n    pageInfo {\\n  endCursor\\n  hasNextPage\\n}\\n  }\\n    }\\n\\n    pageInfo {\\n  endCursor\\n  hasNextPage\\n}\\n  }\\n  }\\n... rateLimit\\n    }\\n\\nfragment organizationFields on Organization {\\n    login\\n    name\\n  }\\n\\nfragment teamFields on Team {\\n    name\\n    url\\n    slug\\n  }\\n\\nfragment teamMemberFields on User {\\n    login\\n  }\\n\\nfragment rateLimit on Query {\\n    rateLimit {\\n      limit\\n      cost\\n      remaining\\n      resetAt\\n    }\\n  }\",\"variables\":{\"login\":\"github-app-test\",\"teamMembers\":\"Y3Vyc29yOnYyOpHOAwSCbQ==\"}}"
          },
          "queryString": [],
          "url": "https://api.github.com/graphql"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 802,
            "text": "{\"data\":{\"organization\":{\"id\":\"MDEyOk9yZ2FuaXphdGlvbjUwNjI3MjE5\",\"login\":\"github-app-test\",\"name\":\"github-app-test\",\"teams\":{\"nodes\":[{\"id\":\"MDQ6VGVhbTM0NzMyOTc=\",\"name\":\"Cool Kids\",\"url\":\"https://github.com/orgs/github-app-test/teams/cool-kids\",\"slug\":\"cool-kids\",\"members\":{\"nodes\":[],\"pageInfo\":{\"endCursor\":null,\"hasNextPage\":false}}},{\"id\":\"MDQ6VGVhbTM0NTM4Njg=\",\"name\":\"Developers\",\"url\":\"https://github.com/orgs/github-app-test/teams/developers\",\"slug\":\"developers\",\"members\":{\"nodes\":[{\"id\":\"MDQ6VXNlcjU1NDk0NjY1\",\"login\":\"github-user-test\"}],\"pageInfo\":{\"endCursor\":\"Y3Vyc29yOnYyOpHOA07ICQ==\",\"hasNextPage\":false}}}],\"pageInfo\":{\"endCursor\":\"Y3Vyc29yOnYyOpMCqkRldmVsb3BlcnPOADSzrA==\",\"hasN[...]
