{
  "log": {
    "_recordingName": "teamMembers",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "9ca046c0c3e008801800630bedd7bdf3",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.github.com/app/installations/32841752"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 931,
            "text": "{\"id\":32841752,\"account\":{\"login\":\"JupiterOne-Sandbox\",\"id\":121981149,\"node_id\":\"O_kgDOB0VI3Q\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/121981149?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/JupiterOne-Sandbox\",\"html_url\":\"https://github.com/JupiterOne-Sandbox\",\"followers_url\":\"https://api.github.com/users/JupiterOne-Sandbox/followers\",\"following_url\":\"https://api.github.com/users/JupiterOne-Sandbox/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/JupiterOne-Sandbox/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/JupiterOne-Sandbox/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/JupiterOne-Sandbox/subscriptions\",\"organizations_url\":\"https://api.github.com/users/JupiterOne-Sandbox/orgs\",\"repos_url\":\"https://api.github.com/users/JupiterOne-Sandbox/repos\",\"events_url\":\"https://api.github.com/users/JupiterOne-Sandbox/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/JupiterOne-Sandbox/received_events\",\"type\":\"Organization\",\"site_admin\":false},\"repository_selection\":\"all\",\"access_tokens_url\":\"https://api.github.com/app/installations/32841752/access_tokens\",\"repositories_url\":\"https://api.github.com/installation/repositories\",\"html_url\":\"https://github.com/organizations/JupiterOne-Sandbox/settings/installations/32841752\",\"app_id\":278393,\"app_slug\":\"j1-ingest-cg\",\"target_id\":121981149,\"target_type\":\"Organization\",\"permissions\":{\"pages\":\"read\",\"issues\":\"read\",\"actions\":\"read\",\"members\":\"read\",\"secrets\":\"read\",\"metadata\":\"read\",\"discussions\":\"read\",\"environments\":\"read\",\"pull_requests\":\"read\",\"administration\":\"read\",\"security_events\":\"read\",\"organization_secrets\":\"read\",\"vulnerability_alerts\":\"read\",\"organization_administration\":\"read\"},\"events\":[],\"created_at\":\"2023-01-05T16:02:41.000Z\",\"updated_at\":\"2024-02-09T17:25:27.000Z\",\"single_file_name\":null,\"has_multiple_single_files\":false,\"single_file_paths\":[],\"suspended_by\":null,\"suspended_at\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"3cc8b60c31569375a1e7c436945917654da81b65b91cbaf7c6abd4135b5f8449\""
            },
            {
              "name": "x-github-media-type",
              "value": "github.v3; format=json"
            },
            {
              "name": "x-github-api-version-selected",
              "value": "2022-11-28"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 372,
      },
      {
        "_id": "f13f3f3dcf87065d27af1cac191fa6e2",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "queryString": [],
          "url": "https://api.github.com/app/installations/32841752/access_tokens"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 445,
            "text": "{\"token\":\"[REDACTED]\",\"expires_at\":\"2050-12-31T18:09:20Z\",\"permissions\":{\"members\":\"read\",\"organization_administration\":\"read\",\"organization_secrets\":\"read\",\"actions\":\"read\",\"administration\":\"read\",\"discussions\":\"read\",\"environments\":\"read\",\"issues\":\"read\",\"metadata\":\"read\",\"pages\":\"read\",\"pull_requests\":\"read\",\"secrets\":\"read\",\"security_events\":\"read\",\"vulnerability_alerts\":\"read\"},\"repository_selection\":\"all\"}"
          },
          "headers": [
            {
    [...]
