{
  "log": {
    "_recordingName": "partialIngest",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "06d6593fc4a07c98683e9f0972b1c5e0",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "queryString": [],
          "url": "https://api.github.com/app/installations/23522163/access_tokens"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 367,
            "text": "{\"token\":\"[REDACTED]\",\"expires_at\":\"2050-12-31T18:09:20Z\",\"permissions\":{\"members\":\"read\",\"organization_administration\":\"read\",\"organization_secrets\":\"read\",\"administration\":\"read\",\"environments\":\"read\",\"issues\":\"read\",\"metadata\":\"read\",\"pull_requests\":\"read\",\"secrets\":\"read\",\"vulnerability_alerts\":\"read\"},\"repository_selection\":\"all\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"7f0934e7e50484d1bb54a7df0ade21fe458ce47665d6c470ea2415dc47ddfd2b\""
            },
            {
              "name": "x-github-media-type",
              "value": "github.v3; param=machine-man-preview; format=json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 296,
      },
      {
        "_id": "1547374b6571e3962eb14441d2e51c5d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.github.com/app/installations/23522163"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 883,
            "text": "{\"id\":23522163,\"account\":{\"login\":\"j1-ingest\",\"id\":100235621,\"node_id\":\"O_kgDOBfl5ZQ\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/100235621?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/j1-ingest\",\"html_url\":\"https://github.com/j1-ingest\",\"followers_url\":\"https://api.github.com/users/j1-ingest/followers\",\"following_url\":\"https://api.github.com/users/j1-ingest/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/j1-ingest/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/j1-ingest/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/j1-ingest/subscriptions\",\"organizations_url\":\"https://api.github.com/users/j1-ingest/orgs\",\"repos_url\":\"https://api.github.com/users/j1-ingest/repos\",\"events_url\":\"https://api.github.com/users/j1-ingest/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/j1-ingest/received_events\",\"type\":\"Organization\",\"site_admin\":false},\"repository_selection\":\"all\",\"access_tokens_url\":\"https://api.github.com/app/installations/23522163/access_tokens\",\"repositories_url\":\"https://api.github.com/installation/repositories\",\"html_url\":\"https://github.com/organizations/j1-ingest/settings/installations/23522163\",\"app_id\":174703,\"app_slug\":\"jupiterone-spoulton\",\"target_id\":100235621,\"target_type\":\"Organization\",\"permissions\":{\"issues\":\"read\",\"members\":\"read\",\"secrets\":\"read\",\"metadata\":\"read\",\"environments\":\"read\",\"pull_requests\":\"read\",\"administration\":\"read\",\"organization_secrets\":\"read\",\"vulnerability_alerts\":\"read\",\"organization_administration\":\"read\"},\"events\":[],\"created_at\":\"2022-02-22T19:50:45.000Z\",\"updated_at\":\"2022-05-19T16:05:01.000Z\",\"single_file_name\":null,\"has_multiple_single_files\":false,\"single_file_paths\":[],\"suspended_by\":null,\"suspended_at\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"4a6dae217012f7b69fbe2c6794fed4a60130445505cf6be614bc2ff86634e0f5\""
            },
            {
              "name": "x-github-media-type",
              "value": "github.v3; format=json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 266,
      },
      {
        "_id": "f0380750ed4a512bccc954200b28aea4",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.github.com/meta"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 15495,
            "text": "{\"verifiable_password_authentication\":false,\"ssh_key_fingerprints\":{\"SHA256_RSA\":\"nThbg6kXUpJWGl7E1IGOCspRomTxdCARLviKw6E5SY8\",\"SHA256_ECDSA\":\"p2QAMXNIC1TJYWeIOttrVc98/R1BUFWu3/LiyKgUfQM\",\"SHA256_ED25519\":\"+DiY3wvvV6TuJJhbpZisF/zLDA0zPMSvHdkr4UvCOqU\"},\"ssh_keys\":[\"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOMqqnkVzrm0SdG6UOoqKLsabgH5C9okWi0dh2l9GKJl\",\"ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBEmKSENjQEezOmxkZMy7opKgwFB9nkt5YRrYMjNuG5N87uRgg6CLrbo5wAdT/y6v0mKV0U2w0WZ2YB/++Tpockg=\",\"ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEAq2A7hRGmdnm9tUDbO9IDSwBK6TbQa+PXYPCPy6rbTrTtw7PHkccKrpp0yVhp5HdEIcKr6pLlVDBfOLX9QUsyCOV0wzfjIJNlGEYsdlLJizHhbn2mUjvSAHQqZETYP81eFzLQNnPHt4EVVUh7VfDESU84KezmD5QlWpXLmvU31/yMf+Se8xhHTvKSCZIFImWwoG6mbUoWf9nzpIoaSjB+weqqUUmpaaasXVal72J+UX2B+2RPW3RcT0eOzQgqlJL3RKrTJvdsjE3JEAvGq3lGHSZXy28G3skua2SmVi/w4yCE6gbODqnTWlg7+wC604ydGXA8VJiS5ap43JXiUFFAaQ==\"],\"hooks\":[\"192.30.252.0/22\",\"185.199.108.0/22\",\"140.82.112.0/20\",\"143.55.64.0/20\",\"2a0a:a440::/29\",\"2606:50c0::/32\"],\"web\":[\"192.30.252.0/22\",\"185.199.108.0/22\",\"140.82.112.0/20\",\"143.55.64.0/20\",\"2a0a:a440::/29\",\"2606:50c0::/32\",\"13.114.40.48/32\",\"52.192.72.89/32\",\"52.69.186.44/32\",\"15.164.81.167/32\",\"52.78.231.108/32\",\"13.234.176.102/32\",\"13.234.210.38/32\",\"13.236.229.21/32\",\"13.237.44.5/32\",\"52.64.108.95/32\",\"20.201.28.151/32\",\"20.205.243.166/32\",\"102.133.202.242/32\"],\"api\":[\"192.30.252.0/22\",\"185.199.108.0/22\",\"140.82.112.0/20\",\"143.55.64.0/20\",\"2a0a:a440::/29\",\"2606:50c0::/32\",\"13.230.158.120/32\",\"18.179.245.253/32\",\"52.69.239.207/32\",\"13.209.163.61/32\",\"54.180.75.25/32\",\"13.233.76.15/32\",\"13.234.168.60/32\",\"13.236.14.80/32\",\"13.238.54.232/32\",\"52.63.231.178/32\",\"20.201.28.148/32\",\"20.205.243.168/32\",\"102.133.202.248/32\"],\"git\":[\"192.30.252.0/22\",\"185.199.108.0/22\",\"140.82.112.0/20\",\"143.55.64.0/20\",\"2a0a:a440::/29\",\"2606:50c0::/32\",\"13.114.40.48/32\",\"52.192.72.89/32\",\"52.69.186.44/32\",\"15.164.81.167/32\",\"52.78.231.108/32\",\"13.234.176.102/32\",\"13.234.210.38/32\",\"13.236.229.21/32\",\"13.237.44.5/32\",\"52.64.108.95/32\",\"20.201.28.151/32\",\"20.205.243.166/32\",\"102.133.202.242/32\",\"18.181.13.223/32\",\"54.238.117.237/32\",\"54.168.17.15/32\",\"3.34.26.58/32\",\"13.125.114.27/32\",\"3.7.2.84/32\",\"3.6.106.81/32\",\"52.63.152.235/32\",\"3.105.147.174/32\",\"3.106.158.203/32\",\"20.201.28.152/32\",\"20.205.243.160/32\",\"102.133.202.246/32\"],\"packages\":[\"3.114.109.192/32\",\"3.114.74.150/32\",\"52.68.132.128/32\",\"52.79.52.209/32\",\"13.124.3.227/32\",\"13.235.209.61/32\",\"13.234.166.55/32\",\"3.105.68.105/32\",\"13.237.25.231/32\",\"13.55.142.41/32\",\"140.82.121.33/32\",\"140.82.121.34/32\",\"140.82.113.33/32\",\"140.82.113.34/32\",\"140.82.112.33/32\",\"140.82.112.34/32\",\"140.82.114.33/32\",\"140.82.114.34/32\",\"192.30.255.164/31\",\"20.201.28.144/32\",\"20.205.243.164/32\",\"102.133.202.243/32\"],\"pages\":[\"192.30.252.153/32\",\"192.30.252.154/32\",\"185.199.108.153/32\",\"185.199.109.153/32\",\"185.199.110.153/32\",\"185.199.111.153/32\",\"2606:50c0:8000::153/128\",\"2606:50c0:8001::153/128\",\"2606:50c0:8002::153/128\",\"2606:50c0:8003::153/128\"],\"importer\":[\"192.30.252.0/22\",\"185.199.108.0/22\",\"140.82.112.0/20\"],\"actions\":[\"13.64.0.0/16\",\"13.65.0.0/16\",\"13.66.0.0/17\",\"13.66.128.0/17\",\"13.67.128.0/20\",\"13.67.144.0/21\",\"13.67.152.0/24\",\"13.67.153.0/28\",\"13.67.153.32/27\",\"13.67.153.64/26\",\"13.67.153.128/25\",\"13.67.155.0/24\",\"13.67.156.0/22\",\"13.67.160.0/19\",\"13.67.192.0/18\",\"13.68.0.0/17\",\"13.68.128.0/17\",\"13.72.64.0/18\",\"13.73.32.0/19\",\"13.73.240.0/20\",\"13.77.64.0/18\",\"13.77.128.0/18\",\"13.82.0.0/16\",\"13.83.0.0/16\",\"13.84.0.0/15\",\"13.86.0.0/17\",\"13.86.128.0/17\",\[...]
