{
  "log": {
    "_recordingName": "partialIngest",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "f13f3f3dcf87065d27af1cac191fa6e2",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "queryString": [],
          "url": "https://api.github.com/app/installations/32841752/access_tokens"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 475,
            "text": "{\"token\":\"[REDACTED]\",\"expires_at\":\"2050-12-31T18:09:20Z\",\"permissions\":{\"members\":\"read\",\"organization_administration\":\"read\",\"organization_events\":\"read\",\"organization_secrets\":\"read\",\"actions\":\"read\",\"administration\":\"write\",\"discussions\":\"read\",\"environments\":\"read\",\"issues\":\"read\",\"metadata\":\"read\",\"pages\":\"read\",\"pull_requests\":\"read\",\"secrets\":\"read\",\"security_events\":\"read\",\"vulnerability_alerts\":\"read\"},\"repository_selection\":\"all\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"d34e4f65c1ebbb16c6241c7a74fe9254766e43b7cb2dd6a5e7cf171633c6e3ca\""
            },
            {
              "name": "x-github-media-type",
              "value": "github.v3; param=machine-man-preview; format=json"
            },
            {
              "name": "x-github-api-version-selected",
              "value": "2022-11-28"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 787,
      },
      {
        "_id": "9ca046c0c3e008801800630bedd7bdf3",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.github.com/app/installations/32841752"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 939,
            "text": "{\"id\":32841752,\"account\":{\"login\":\"JupiterOne-Sandbox\",\"id\":121981149,\"node_id\":\"O_kgDOB0VI3Q\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/121981149?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/JupiterOne-Sandbox\",\"html_url\":\"https://github.com/JupiterOne-Sandbox\",\"followers_url\":\"https://api.github.com/users/JupiterOne-Sandbox/followers\",\"following_url\":\"https://api.github.com/users/JupiterOne-Sandbox/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/JupiterOne-Sandbox/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/JupiterOne-Sandbox/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/JupiterOne-Sandbox/subscriptions\",\"organizations_url\":\"https://api.github.com/users/JupiterOne-Sandbox/orgs\",\"repos_url\":\"https://api.github.com/users/JupiterOne-Sandbox/repos\",\"events_url\":\"https://api.github.com/users/JupiterOne-Sandbox/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/JupiterOne-Sandbox/received_events\",\"type\":\"Organization\",\"site_admin\":false},\"repository_selection\":\"all\",\"access_tokens_url\":\"https://api.github.com/app/installations/32841752/access_tokens\",\"repositories_url\":\"https://api.github.com/installation/repositories\",\"html_url\":\"https://github.com/organizations/JupiterOne-Sandbox/settings/installations/32841752\",\"app_id\":278393,\"app_slug\":\"j1-ingest-cg\",\"target_id\":121981149,\"target_type\":\"Organization\",\"permissions\":{\"pages\":\"read\",\"issues\":\"read\",\"actions\":\"read\",\"members\":\"read\",\"secrets\":\"read\",\"metadata\":\"read\",\"discussions\":\"read\",\"environments\":\"read\",\"pull_requests\":\"read\",\"administration\":\"write\",\"security_events\":\"read\",\"organization_events\":\"read\",\"organization_secrets\":\"read\",\"vulnerability_alerts\":\"read\",\"organization_administration\":\"read\"},\"events\":[],\"created_at\":\"2023-01-05T16:02:41.000Z\",\"updated_at\":\"2023-01-10T15:35:42.000Z\",\"single_file_name\":null,\"has_multiple_single_files\":false,\"single_file_paths\":[],\"suspended_by\":null,\"suspended_at\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"2899e8938fbf66a378063b936eaa7f050e50a593faf1706b9d06e0b595ecda2a\""
            },
            {
              "name": "x-github-media-type",
              "value": "github.v3; format=json"
            },
            {
              "name": "x-github-api-version-selected",
              "value": "2022-11-28"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 266,
      },
      {
        "_id": "f0380750ed4a512bccc954200b28aea4",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.github.com/meta"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 16926,
            "text": "{\"verifiable_password_authentication\":false,\"ssh_key_fingerprints\":{\"SHA256_RSA\":\"nThbg6kXUpJWGl7E1IGOCspRomTxdCARLviKw6E5SY8\",\"SHA256_ECDSA\":\"p2QAMXNIC1TJYWeIOttrVc98/R1BUFWu3/LiyKgUfQM\",\"SHA256_ED25519\":\"+DiY3wvvV6TuJJhbpZisF/zLDA0zPMSvHdkr4UvCOqU\"},\"ssh_keys\":[\"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOMqqnkVzrm0SdG6UOoqKLsabgH5C9okWi0dh2l9GKJl\",\"ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBEmKSENjQEezOmxkZMy7opKgwFB9nkt5YRrYMjNuG5N87uRgg6CLrbo5wAdT/y6v0mKV0U2w0WZ2YB/++Tpockg=\",\"ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEAq2A7hRGmdnm9tUDbO9IDSwBK6TbQa+PXYPCPy6rbTrTtw7PHkccKrpp0yVhp5HdEIcKr6pLlVDBfOLX9QUsyCOV0wzfjIJNlGEYsdlLJizHhbn2mUjvSAHQqZETYP81eFzLQNnPHt4EVVUh7VfDESU84KezmD5QlWpXLmvU31/yMf+Se8xhHTvKSCZIFImWwoG6mbUoWf9nzpIoaSjB+weqqUUmpaaasXVal72J+UX2B+2RPW3RcT0eOzQgqlJL3RKrTJvdsjE3JEAvGq3lGHSZXy28G3skua2SmVi/w4yCE6gbODqnTWlg7+wC604ydGXA8VJiS5ap43JXiUFFAaQ==\"],\"hooks\":[\"192.30.252.0/22\",\"185.199.108.0/22\",\"140.82.112.0/20\",\"143.55.64.0/20\",\"2a0a:a440::/29\",\"2606:50c0::/32\"],\"web\":[\"192.30.252.0/22\",\"185.199.108.0/22\",\"140.82.112.0/20\",\"143.55.64.0/20\",\"2a0a:a440::/29\",\"2606:50c0::/32\",\"20.201.28.151/32\",\"20.205.243.166/32\",\"102.133.202.242/32\",\"20.248.137.48/32\",\"20.207.73.82/32\",\"20.27.177.113/32\",\"20.200.245.247/32\",\"20.233.54.53/32\"],\"api\":[\"192.30.252.0/22\",\"185.199.108.0/22\",\"140.82.112.0/20\",\"143.55.64.0/20\",\"2a0a:a440::/29\",\"2606:50c0::/32\",\"20.201.28.148/32\",\"20.205.243.168/32\",\"102.133.202.248/32\",\"20.248.137.49/32\",\"20.207.73.85/32\",\"20.27.177.116/32\",\"20.200.245.245/32\",\"20.233.54.49/32\"],\"git\":[\"192.30.252.0/22\",\"185.199.108.0/22\",\"140.82.112.0/20\",\"143.55.64.0/20\",\"2a0a:a440::/29\",\"2606:50c0::/32\",\"20.201.28.151/32\",\"20.205.243.166/32\",\"102.133.202.242/32\",\"20.248.137.48/32\",\"20.207.73.82/32\",\"20.27.177.113/32\",\"20.200.245.247/32\",\"20.233.54.53/32\",\"20.201.28.152/32\",\"20.205.243.160/32\",\"102.133.202.246/32\",\"20.248.137.50/32\",\"20.207.73.83/32\",\"20.27.177.118/32\",\"20.200.245.248/32\",\"20.233.54.52/32\"],\"packages\":[\"140.82.121.33/32\",\"140.82.121.34/32\",\"140.82.113.33/32\",\"140.82.113.34/32\",\"140.82.112.33/32\",\"140.82.112.34/32\",\"140.82.114.33/32\",\"140.82.114.34/32\",\"192.30.255.164/31\",\"20.201.28.144/32\",\"20.205.243.164/32\",\"102.133.202.243/32\",\"20.248.137.52/32\",\"20.207.73.86/32\",\"20.27.177.117/32\",\"20.200.245.241/32\",\"20.233.54.55/32\"],\"pages\":[\"192.30.252.153/32\",\"192.30.252.154/32\",\"185.199.108.153/32\",\"185.199.109.153/32\",\"185.199.110.153/32\",\"185.199.111.153/32\",\"2606:50c0:8000::153/128\",\"2606:50c0:8001::153/128\",\"2606:50c0:8002::153/128\",\"2606:50c0:8003::153/128\"],\"importer\":[\"52.23.85.212/32\",\"52.0.228.224/32\",\"52.22.155.48/32\"],\"actions\":[\"4.148.0.0/16\",\"4.149.0.0/18\",\"4.149.64.0/19\",\"4.149.96.0/19\",\"4.149.128.0/17\",\"4.150.0.0/18\",\"4.150.64.0/18\",\"4.150.128.0/18\",\"4.150.192.0/19\",\"4.150.224.0/19\",\"4.151.0.0/16\",\"4.152.0.0/15\",\"4.154.0.0/15\",\"4.156.0.0/15\",\"4.227.0.0/17\",\"4.227.128.0/17\",\"4.236.0.0/17\",\"4.236.128.0/17\",\"4.242.0.0/17\",\"4.242.128.0/17\",\"4.246.0.0/17\",\"4.246.128.0/17\",\"4.249.0.0/17\",\"4.249.128.0/1[...]
