{
  "log": {
    "_recordingName": "partialIngest",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "06d6593fc4a07c98683e9f0972b1c5e0",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "queryString": [],
          "url": "https://api.github.com/app/installations/23522163/access_tokens"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 367,
            "text": "{\"token\":\"[REDACTED]\",\"expires_at\":\"2050-12-31T18:09:20Z\",\"permissions\":{\"members\":\"read\",\"organization_administration\":\"read\",\"organization_secrets\":\"read\",\"administration\":\"read\",\"environments\":\"read\",\"issues\":\"read\",\"metadata\":\"read\",\"pull_requests\":\"read\",\"secrets\":\"read\",\"vulnerability_alerts\":\"read\"},\"repository_selection\":\"all\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"3b2c1720d955eba608f98c48b408ec5498826af3c63740a7df393b32727ab835\""
            },
            {
              "name": "x-github-media-type",
              "value": "github.v3; param=machine-man-preview; format=json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 446,
      },
      {
        "_id": "1547374b6571e3962eb14441d2e51c5d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.github.com/app/installations/23522163"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 879,
            "text": "{\"id\":23522163,\"account\":{\"login\":\"j1-ingest\",\"id\":100235621,\"node_id\":\"O_kgDOBfl5ZQ\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/100235621?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/j1-ingest\",\"html_url\":\"https://github.com/j1-ingest\",\"followers_url\":\"https://api.github.com/users/j1-ingest/followers\",\"following_url\":\"https://api.github.com/users/j1-ingest/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/j1-ingest/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/j1-ingest/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/j1-ingest/subscriptions\",\"organizations_url\":\"https://api.github.com/users/j1-ingest/orgs\",\"repos_url\":\"https://api.github.com/users/j1-ingest/repos\",\"events_url\":\"https://api.github.com/users/j1-ingest/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/j1-ingest/received_events\",\"type\":\"Organization\",\"site_admin\":false},\"repository_selection\":\"all\",\"access_tokens_url\":\"https://api.github.com/app/installations/23522163/access_tokens\",\"repositories_url\":\"https://api.github.com/installation/repositories\",\"html_url\":\"https://github.com/organizations/j1-ingest/settings/installations/23522163\",\"app_id\":174703,\"app_slug\":\"jupiterone-spoulton\",\"target_id\":100235621,\"target_type\":\"Organization\",\"permissions\":{\"issues\":\"read\",\"members\":\"read\",\"secrets\":\"read\",\"metadata\":\"read\",\"environments\":\"read\",\"pull_requests\":\"read\",\"administration\":\"read\",\"organization_secrets\":\"read\",\"vulnerability_alerts\":\"read\",\"organization_administration\":\"read\"},\"events\":[],\"created_at\":\"2022-02-22T19:50:45.000Z\",\"updated_at\":\"2022-05-19T16:05:01.000Z\",\"single_file_name\":null,\"has_multiple_single_files\":false,\"single_file_paths\":[],\"suspended_by\":null,\"suspended_at\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"4a6dae217012f7b69fbe2c6794fed4a60130445505cf6be614bc2ff86634e0f5\""
            },
            {
              "name": "x-github-media-type",
              "value": "github.v3; format=json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 282,
      },
      {
        "_id": "22e4c882794d943e8a6f0961702d5000",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json; charset=utf-8",
            "params": [],
            "text": "{\"query\":\"\\n      query (\\n        $pullRequestNumber: Int!\\n        $repoName: String!\\n        $repoOwner: String!\\n        $maxLimit: Int!\\n        $commitsCursor: String\\n        $reviewsCursor: String\\n        $labelsCursor: String\\n      ) {\\n          repository(name: $repoName, owner: $repoOwner) {\\n            pullRequest(number: $pullRequestNumber) {\\n              ...\\n  on PullRequest {\\n    additions\\n    author {\\n      ...on User {\\n    name\\n    login\\n  }\\n    }\\n  [...]
