{
  "log": {
    "_recordingName": "GitHubGraphQLClient.fetchOrganization.multiplePages",
    "creator": {
      "comment": "persister:SafeHeadersFSPersister",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "014f4a7a7451f1f9f5c13c396effa8c4",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer [REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"query\":\"query ($login: String!, $members: String) {\\n      organization(login: $login) {\\n    id\\n    ... organizationFields\\n    membersWithRole(first: 2, after: $members) {\\n    nodes {\\n      id\\n      ... userFields\\n      \\n    }\\n\\n    pageInfo {\\n  endCursor\\n  hasNextPage\\n}\\n  }\\n  }\\n... rateLimit\\n    }\\n\\nfragment organizationFields on Organization {\\n    login\\n    name\\n  }\\n\\nfragment userFields on User {\\n    login\\n    name\\n    isSiteAdmin\\n  }\\n\\nfragment rateLimit on Query {\\n    rateLimit {\\n      limit\\n      cost\\n      remaining\\n      resetAt\\n    }\\n  }\",\"variables\":{\"login\":\"github-app-test\"}}"
          },
          "queryString": [],
          "url": "https://api.github.com/graphql"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 480,
            "text": "{\"data\":{\"organization\":{\"id\":\"MDEyOk9yZ2FuaXphdGlvbjUwNjI3MjE5\",\"login\":\"github-app-test\",\"name\":\"github-app-test\",\"membersWithRole\":{\"nodes\":[{\"id\":\"MDQ6VXNlcjE1MjY0NDU=\",\"login\":\"fomentia\",\"name\":\"Isaac Williams\",\"isSiteAdmin\":false},{\"id\":\"MDQ6VXNlcjUwNjI3MTgx\",\"login\":\"fomentia2\",\"name\":null,\"isSiteAdmin\":false}],\"pageInfo\":{\"endCursor\":\"Y3Vyc29yOnYyOpHOAwSCbQ==\",\"hasNextPage\":true}}},\"rateLimit\":{\"limit\":5000,\"cost\":1,\"remaining\":4994,\"resetAt\":\"2019-10-21T14:41:59Z\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "status",
              "value": "200 OK"
            },
            {
              "name": "x-github-media-type",
              "value": "github.v4"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "5000"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "4994"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1571668919"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 189,
      },
      {
        "_id": "98115d6fa18fd4dab3ea88b05ef29c9a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer [REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"query\":\"query ($login: String!, $members: String) {\\n      organization(login: $login) {\\n    id\\n    ... organizationFields\\n    membersWithRole(first: 2, after: $members) {\\n    nodes {\\n      id\\n      ... userFields\\n      \\n    }\\n\\n    pageInfo {\\n  endCursor\\n  hasNextPage\\n}\\n  }\\n  }\\n... rateLimit\\n    }\\n\\nfragment organizationFields on Organization {\\n    login\\n    name\\n  }\\n\\nfragment userFields on User {\\n    login\\n    name\\n    isSiteAdmin\\n  }\\n\\nfragment rateLimit on Query {\\n    rateLimit {\\n      limit\\n      cost\\n      remaining\\n      resetAt\\n    }\\n  }\",\"variables\":{\"login\":\"github-app-test\",\"members\":\"Y3Vyc29yOnYyOpHOAwSCbQ==\"}}"
          },
          "queryString": [],
          "url": "https://api.github.com/graphql"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 395,
            "text": "{\"data\":{\"organization\":{\"id\":\"MDEyOk9yZ2FuaXphdGlvbjUwNjI3MjE5\",\"login\":\"github-app-test\",\"name\":\"github-app-test\",\"membersWithRole\":{\"nodes\":[{\"id\":\"MDQ6VXNlcjU1NDk0NjY1\",\"login\":\"github[...]
