{
  "log": {
    "_recordingName": "envSecrets",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "06d6593fc4a07c98683e9f0972b1c5e0",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "queryString": [],
          "url": "https://api.github.com/app/installations/23522163/access_tokens"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 383,
            "text": "{\"token\":\"[REDACTED]\",\"expires_at\":\"2050-12-31T18:09:20Z\",\"permissions\":{\"members\":\"read\",\"organization_administration\":\"read\",\"organization_secrets\":\"read\",\"administration\":\"read\",\"checks\":\"read\",\"environments\":\"read\",\"issues\":\"read\",\"metadata\":\"read\",\"pull_requests\":\"read\",\"secrets\":\"read\",\"vulnerability_alerts\":\"read\"},\"repository_selection\":\"all\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"e8abc8c216d22744596ebaa3d88a680cb87360d4b498c14dee068912df22cf00\""
            },
            {
              "name": "x-github-media-type",
              "value": "github.v3; param=machine-man-preview; format=json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 792,
      },
      {
        "_id": "1547374b6571e3962eb14441d2e51c5d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.github.com/app/installations/23522163"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 891,
            "text": "{\"id\":23522163,\"account\":{\"login\":\"j1-ingest\",\"id\":100235621,\"node_id\":\"O_kgDOBfl5ZQ\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/100235621?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/j1-ingest\",\"html_url\":\"https://github.com/j1-ingest\",\"followers_url\":\"https://api.github.com/users/j1-ingest/followers\",\"following_url\":\"https://api.github.com/users/j1-ingest/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/j1-ingest/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/j1-ingest/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/j1-ingest/subscriptions\",\"organizations_url\":\"https://api.github.com/users/j1-ingest/orgs\",\"repos_url\":\"https://api.github.com/users/j1-ingest/repos\",\"events_url\":\"https://api.github.com/users/j1-ingest/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/j1-ingest/received_events\",\"type\":\"Organization\",\"site_admin\":false},\"repository_selection\":\"all\",\"access_tokens_url\":\"https://api.github.com/app/installations/23522163/access_tokens\",\"repositories_url\":\"https://api.github.com/installation/repositories\",\"html_url\":\"https://github.com/organizations/j1-ingest/settings/installations/23522163\",\"app_id\":174703,\"app_slug\":\"jupiterone-spoulton\",\"target_id\":100235621,\"target_type\":\"Organization\",\"permissions\":{\"checks\":\"read\",\"issues\":\"read\",\"members\":\"read\",\"secrets\":\"read\",\"metadata\":\"read\",\"environments\":\"read\",\"pull_requests\":\"read\",\"administration\":\"read\",\"organization_secrets\":\"read\",\"vulnerability_alerts\":\"read\",\"organization_administration\":\"read\"},\"events\":[],\"created_at\":\"2022-02-22T19:50:45.000Z\",\"updated_at\":\"2022-08-16T19:28:29.000Z\",\"single_file_name\":null,\"has_multiple_single_files\":false,\"single_file_paths\":[],\"suspended_by\":null,\"suspended_at\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"955455249010202aaf7485fe34b73ea2ad3991b1de6e9b030a7bfc20182b801f\""
            },
            {
              "name": "x-github-media-type",
              "value": "github.v3; format=json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 951,
      },
      {
        "_id": "22e4c882794d943e8a6f0961702d5000",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json; charset=utf-8",
            "params": [],
            "text": "{\"query\":\"\\n    query ($login: String!) {\\n      organization(login: $login) {\\n        id\\n        login\\n        name\\n        createdAt\\n        updatedAt\\n        description\\n        email\\n        databaseId\\n        isVerified\\n        location\\n        websiteUrl\\n        url\\n      }\\n      ...on Query {\\n    rateLimit {\\n      limit\\n      cost\\n      remaining\\n      resetAt\\n    }\\n  }\\n    }\",\"variables\":{\"login\":\"j1-ingest\"}}"
          },
          "queryString": [],
          "url": "https://api.github.com/graphql"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 535,
            "text": "{\"data\":{\"organization\":{\"id\":\"O_kgDOBfl5ZQ\",\"login\":\"j1-ingest\",\"name\":\"JupiterOne GitHub Ingest Test Organization\",\"createdAt\":\"2022-02-22T19:40:36Z\",\"updatedAt\":\"2022-03-25T14:49:00Z\",\"description\":\"This org houses test data that can be used when developing against the JupiterOne/graph-github repository.\",\"email\":\"support@jupiterone.com\",\"databaseId\":100235621,\"isVerified\":false,\"location\":\"United States of America\",\"websiteUrl\":null,\"url\":\"https://github.com/j1-ingest\"},\"rateLimit\":{\"limit\":5000,\"cost\":1,\"remaining\":4918,\"resetAt\":\"2022-09-08T18:21:06Z\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-github-media-type",
              "value": "github.v3; format=json"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "5000"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "49[...]
