{
  "log": {
    "_recordingName": "GitHubGraphQLClient.fetchPullRequests.innerPagination",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "aadb03954d498cafcdffffac94111993",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "Bearer [REDACTED]"
            }
          ],
          "method": "POST",
          "queryString": [],
          "url": "https://api.github.com/app/installations/7498286/access_tokens"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 276,
            "text": "{\"token\":\"[REDACTED]\",\"expires_at\":\"2021-09-02T23:47:30Z\",\"permissions\":{\"members\":\"read\",\"organization_administration\":\"read\",\"metadata\":\"read\",\"pull_requests\":\"read\",\"statuses\":\"read\",\"vulnerability_alerts\":\"read\"},\"repository_selection\":\"all\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"a742f9176cd8c66a42304b5ba424edbbd14dfad967cbfc777b493e3113c1cbc9\""
            },
            {
              "name": "x-github-media-type",
              "value": "github.v3; param=machine-man-preview; format=json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 153,
      },
      {
        "_id": "22e4c882794d943e8a6f0961702d5000",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer [REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"query\":\"query ($pullRequests: String, $query: String!, $commits: String, $reviews: String, $labels: String) {\\n    search(first: 2, after: $pullRequests, type: ISSUE, query: $query) {\\n        issueCount\\n        edges {\\n          node {\\n            ... pullRequestFields\\n            ... on PullRequest {\\n        commits(first: 2, after: $commits) {\\n          totalCount\\n          edges {\\n            node {\\n              commit {\\n                ... commitFields\\n              }\\n [...]
