{
  "log": {
    "_recordingName": "apps",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "7c34bb6b06a875dd6730e58f9ebd212d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "queryString": [],
          "url": "https://api.github.com/app/installations/28077570/access_tokens"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 791,
            "text": "{\"token\":\"[REDACTED]\",\"expires_at\":\"2050-12-31T18:09:20Z\",\"permissions\":{\"members\":\"read\",\"organization_administration\":\"write\",\"organization_dependabot_secrets\":\"read\",\"organization_hooks\":\"read\",\"organization_plan\":\"read\",\"organization_projects\":\"read\",\"organization_secrets\":\"read\",\"organization_self_hosted_runners\":\"read\",\"organization_user_blocking\":\"read\",\"team_discussions\":\"read\",\"actions\":\"read\",\"administration\":\"write\",\"contents\":\"read\",\"environments\":\"read\",\"issues\":\"read\",\"metadata\":\"read\",\"pull_requests\":\"read\",\"secrets\":\"read\",\"single_file\":\"read\",\"vulnerability_alerts\":\"read\"},\"repository_selection\":\"all\",\"single_file\":\"CODEOWNER\",\"has_multiple_single_files\":true,\"single_file_paths\":[\"CODEOWNER\",\"package.json\",\"package.lock\",\"yarn.lock\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"516a70c39d725cee14465fee0c5370575a043e940a06cb2e46d2c2deb4324a2c\""
            },
            {
              "name": "x-github-media-type",
              "value": "github.v3; param=machine-man-preview; format=json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 370,
      },
      {
        "_id": "81e94b10a940fee49cf30302bf46eb4c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.github.com/app/installations/28077570"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1039,
            "text": "{\"id\":28077570,\"account\":{\"login\":\"j1-ingest\",\"id\":100235621,\"node_id\":\"O_kgDOBfl5ZQ\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/100235621?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/j1-ingest\",\"html_url\":\"https://github.com/j1-ingest\",\"followers_url\":\"https://api.github.com/users/j1-ingest/followers\",\"following_url\":\"https://api.github.com/users/j1-ingest/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/j1-ingest/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/j1-ingest/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/j1-ingest/subscriptions\",\"organizations_url\":\"https://api.github.com/users/j1-ingest/orgs\",\"repos_url\":\"https://api.github.com/users/j1-ingest/repos\",\"events_url\":\"https://api.github.com/users/j1-ingest/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/j1-ingest/received_events\",\"type\":\"Organization\",\"site_admin\":false},\"repository_selection\":\"all\",\"access_tokens_url\":\"https://api.github.com/app/installations/28077570/access_tokens\",\"repositories_url\":\"https://api.github.com/installation/repositories\",\"html_url\":\"https://github.com/organizations/j1-ingest/settings/installations/28077570\",\"app_id\":226546,\"app_slug\":\"adaminict-test\",\"target_id\":100235621,\"target_type\":\"Organization\",\"permissions\":{\"issues\":\"read\",\"actions\":\"read\",\"members\":\"read\",\"secrets\":\"read\",\"contents\":\"read\",\"metadata\":\"read\",\"single_file\":\"read\",\"environments\":\"read\",\"pull_requests\":\"read\",\"administration\":\"write\",\"team_discussions\":\"read\",\"organization_plan\":\"read\",\"organization_hooks\":\"read\",\"organization_secrets\":\"read\",\"vulnerability_alerts\":\"read\",\"organization_projects\":\"read\",\"organization_user_blocking\":\"read\",\"organization_administration\":\"write\",\"organization_dependabot_secrets\":\"read\",\"organization_self_hosted_runners\":\"read\"},\"events\":[],\"created_at\":\"2022-08-08T18:43:57.000Z\",\"updated_at\":\"2022-08-08T18:52:45.000Z\",\"single_file_name\":\"CODEOWNER\",\"has_multiple_single_files\":true,\"single_file_paths\":[\"CODEOWNER\",\"package.json\",\"package.lock\",\"yarn.lock\"],\"suspended_by\":null,\"suspended_at\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"9bcda4677952608a11789e40311d28e8bef071b90a48b5c26423c50e3e68b2ad\""
            },
            {
              "name": "x-github-media-type",
              "value": "github.v3; format=json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 447,
      },
      {
        "_id": "22e4c882794d943e8a6f0961702d5000",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json; charset=utf-8",
            "params": [],
            "text": "{\"query\":\"\\n    query ($login: String!) {\\n      organization(login: $login) {\\n        id\\n        login\\n        name\\n        createdAt\\n        updatedAt\\n        description\\n        email\\n        databaseId\\n        isVerified\\n        location\\n        websiteUrl\\n        url\\n      }\\n      ...on Query {\\n    rateLimit {\\n      limit\\n      cost\\n      remaining\\n      resetAt\\n    }\\n  }\\n    }\",\"variables\":{\"login\":\"j1-ingest\"}}"
          },
          "queryString": [],
          "url": "https://api.github.com/graphql"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 535,
            "text": "{\"data\":{\"organization\":{\"id\":\"O_kgDOBfl5ZQ\",\"login\":\"j1-ingest\",\"name\":\"JupiterOne GitHub Ingest Test Organization\",\"createdAt\":\"2022-02-22T19:40:36Z\",\"updatedAt\":\"2022-03-25T14:49:00Z\",\"description\":\"This org houses test data that can be used when developing against the JupiterOne/graph-github repository.\",\"email\":\"support@jupiterone.com\",\"databaseId\":100235621,\"isVerified\":false,\"location\":\"United States of America\",\"websiteUrl\":null,\"url\":\"https://github.com/j1-ingest\"},\"rateLimit\":{\"limit\":5000,\"cost\":1,\"remaining\":4692,\"resetAt\":\"2022-08-11T17:24:43Z\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-github-media-type",
              "value": "github.v3; format=json"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "5000"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "46[...]
