{
  "log": {
    "_recordingName": "vulnAlertsWithFiltering",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "22e4c882794d943e8a6f0961702d5000",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json; charset=utf-8",
            "params": [],
            "text": "{\"query\":\"\\n    query ($login: String!) {\\n      organization(login: $login) {\\n        id\\n        login\\n        name\\n        createdAt\\n        updatedAt\\n        description\\n        email\\n        databaseId\\n        isVerified\\n        location\\n        websiteUrl\\n        url\\n      }\\n      ...on Query {\\n    rateLimit {\\n      limit\\n      cost\\n      remaining\\n      resetAt\\n    }\\n  }\\n    }\",\"variables\":{\"login\":\"JupiterOne-Sandbox\"}}"
          },
          "queryString": [],
          "url": "https://api.github.com/graphql"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 431,
            "text": "{\"data\":{\"organization\":{\"id\":\"O_kgDOB0VI3Q\",\"login\":\"JupiterOne-Sandbox\",\"name\":\"JupiterOne Sandbox\",\"createdAt\":\"2023-01-04T21:30:17Z\",\"updatedAt\":\"2023-03-17T20:49:58Z\",\"description\":\"\",\"email\":\"hello@jupiterone.com\",\"databaseId\":121981149,\"isVerified\":false,\"location\":\"United States of America\",\"websiteUrl\":\"https://jupiterone.com\",\"url\":\"https://github.com/JupiterOne-Sandbox\"},\"rateLimit\":{\"limit\":5000,\"cost\":1,\"remaining\":5000,\"resetAt\":\"2023-07-24T18:19:32Z\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-github-media-type",
              "value": "github.v3; format=json"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "5000"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "5000"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1690222772"
            },
            {
              "name": "x-ratelimit-used",
              "value": "49"
            },
            {
              "name": "x-ratelimit-resource",
              "value": "graphql"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 371,
      },
      {
        "_id": "22e4c882794d943e8a6f0961702d5000",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeT[...]
