{
  "log": {
    "_recordingName": "GitHubGraphQLClient.refreshTokenQuery",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "f13f3f3dcf87065d27af1cac191fa6e2",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "queryString": [],
          "url": "https://api.github.com/app/installations/32841752/access_tokens"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 543,
            "text": "{\"token\":\"[REDACTED]\",\"expires_at\":\"2050-12-31T18:09:20Z\",\"permissions\":{\"members\":\"read\",\"organization_administration\":\"read\",\"organization_secrets\":\"read\",\"actions\":\"read\",\"administration\":\"write\",\"checks\":\"read\",\"contents\":\"read\",\"discussions\":\"read\",\"environments\":\"read\",\"issues\":\"read\",\"metadata\":\"read\",\"pages\":\"read\",\"pull_requests\":\"read\",\"repository_advisories\":\"read\",\"secrets\":\"read\",\"secret_scanning_alerts\":\"read\",\"security_events\":\"read\",\"vulnerability_alerts\":\"read\"},\"repository_selection\":\"all\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"3d8d910ab28ced86c812f232fdbfd312250104307038f69886096b6e919cc831\""
            },
            {
              "name": "x-github-media-type",
              "value": "github.v3; param=machine-man-preview; format=json"
            },
            {
              "name": "x-github-api-version-selected",
              "value": "2022-11-28"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 385,
      },
      {
        "_id": "f13f3f3dcf87065d27af1cac191fa6e2",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "queryString": [],
          "url": "https://api.github.com/app/installations/32841752/access_tokens"
        },
        "response": {
          "content": {
            "mimeType": "applicati[...]
