{
  "log": {
    "_recordingName": "GitHubGraphQLClient.refreshTokenQuery",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "7c34bb6b06a875dd6730e58f9ebd212d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "queryString": [],
          "url": "https://api.github.com/app/installations/28077570/access_tokens"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 791,
            "text": "{\"token\":\"[REDACTED]\",\"expires_at\":\"2050-12-31T18:09:20Z\",\"permissions\":{\"members\":\"read\",\"organization_administration\":\"write\",\"organization_dependabot_secrets\":\"read\",\"organization_hooks\":\"read\",\"organization_plan\":\"read\",\"organization_projects\":\"read\",\"organization_secrets\":\"read\",\"organization_self_hosted_runners\":\"read\",\"organization_user_blocking\":\"read\",\"team_discussions\":\"read\",\"actions\":\"read\",\"administration\":\"write\",\"contents\":\"read\",\"environments\":\"read\",\"issues\":\"read\",\"metadata\":\"read\",\"pull_requests\":\"read\",\"secrets\":\"read\",\"single_file\":\"read\",\"vulnerability_alerts\":\"read\"},\"repository_selection\":\"all\",\"single_file\":\"CODEOWNER\",\"has_multiple_single_files\":true,\"single_file_paths\":[\"CODEOWNER\",\"package.json\",\"package.lock\",\"yarn.lock\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"db6b2410af6d5dd05f3bd638d9da49f5658bbaa0ebe44acdf1d16a2612f7f544\""
            },
            {
              "name": "x-github-media-type",
              "value": "github.v3; param=machine-man-preview; format=json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 484,
      },
      {
        "_id": "7c34bb6b06a875dd6730e58f9ebd212d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "queryString": [],
          "url": "https://api.github.com/app/installations/28077570/access_tokens"
        },
        "response": {
          "content": {
            "mimeType": "applicati[...]
