{
  "log": {
    "_recordingName": "collectCommitsForPR.dismissedReview",
    "creator": {
      "comment": "persister:SafeHeadersFSPersister",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "6246ade88b1f3836adedaeafadb21275",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "Bearer [REDACTED]"
            }
          ],
          "method": "POST",
          "queryString": [],
          "url": "https://api.github.com/app/installations/953957/access_tokens"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1183,
            "text": "{\"id\":953957,\"account\":{\"login\":\"github-app-test\",\"id\":50627219,\"node_id\":\"MDEyOk9yZ2FuaXphdGlvbjUwNjI3MjE5\",\"avatar_url\":\"https://avatars1.githubusercontent.com/u/50627219?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/github-app-test\",\"html_url\":\"https://github.com/github-app-test\",\"followers_url\":\"https://api.github.com/users/github-app-test/followers\",\"following_url\":\"https://api.github.com/users/github-app-test/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/github-app-test/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/github-app-test/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/github-app-test/subscriptions\",\"organizations_url\":\"https://api.github.com/users/github-app-test/orgs\",\"repos_url\":\"https://api.github.com/users/github-app-test/repos\",\"events_url\":\"https://api.github.com/users/github-app-test/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/github-app-test/received_events\",\"type\":\"Organization\",\"site_admin\":false},\"repository_selection\":\"all\",\"access_tokens_url\":\"https://api.github.com/app/installations/953957/access_tokens\",\"repositories_url\":\"https://api.github.com/installation/repositories\",\"html_url\":\"https://github.com/organizations/github-app-test/settings/installations/953957\",\"app_id\":19640,\"target_id\":50627219,\"target_type\":\"Organization\",\"permissions\":{\"members\":\"read\",\"metadata\":\"read\",\"pull_requests\":\"read\",\"statuses\":\"read\",\"vulnerability_alerts\":\"read\"},\"events\":[],\"created_at\":\"2019-05-14T14:07:05.000Z\",\"updated_at\":\"2019-05-29T17:52:38.000Z\",\"single_file_name\":null,\"token\":\"[REDACTED]\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "status",
              "value": "200 OK"
            },
            {
              "name": "etag",
              "value": "W/\"37642adf0258a5486c4019eb6b772223\""
            },
            {
              "name": "x-github-media-type",
              "value": "github.machine-man-preview; format=json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 377,
      },
      {
        "_id": "30118b21fd591e65d2a4a6ef18b856b6",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "Bearer [REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "per_page",
              "value": "250"
            }
          ],
          "url": "https://api.github.com/repos/github-app-test/po[...]
