{
  "log": {
    "_recordingName": "GitHubGraphQLClient.fetchPullRequests.noExtraResources",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "aadb03954d498cafcdffffac94111993",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "Bearer [REDACTED]"
            }
          ],
          "method": "POST",
          "queryString": [],
          "url": "https://api.github.com/app/installations/7498286/access_tokens"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 276,
            "text": "{\"token\":\"[REDACTED]\",\"expires_at\":\"2021-09-03T20:03:27Z\",\"permissions\":{\"members\":\"read\",\"organization_administration\":\"read\",\"metadata\":\"read\",\"pull_requests\":\"read\",\"statuses\":\"read\",\"vulnerability_alerts\":\"read\"},\"repository_selection\":\"all\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"8b1f7d4ea2c9c1ba7a36efeecc7ea35a2b5177fb92b1b3ca1e0a9de203ca2059\""
            },
            {
              "name": "x-github-media-type",
              "value": "github.v3; param=machine-man-preview; format=json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 176,
      },
      {
        "_id": "22e4c882794d943e8a6f0961702d5000",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer [REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"query\":\"query ($query: String!, $pullRequests: String) {\\n    search(first: 2, after: $pullRequests, type: ISSUE, query: $query) {\\n        issueCount\\n        edges {\\n          node {\\n            ... pullRequestFields\\n            \\n          }\\n        }\\n        pageInfo {\\n  endCursor\\n  hasNextPage\\n}\\n      }\\n... rateLimit\\n  }\\n\\nfragment commitFields on Commit {\\n    id\\n    oid\\n    message\\n    authoredDate\\n    changedFiles\\n    commitUrl\\n    author {\\n      dat[...]
