{
  "log": {
    "_recordingName": "GitHubGraphQLClient.fetchOrganization.all",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "22e4c882794d943e8a6f0961702d5000",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer [REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"query\":\"query ($login: String!, $members: String, $teams: String, $teamMembers: String, $teamRepositories: String, $repositories: String) {\\n    organization(login: $login) {\\n        id\\n        ... organizationFields\\n        membersWithRole(first: 2, after: $members) {\\n        edges {\\n          node {\\n            id\\n            ... userFields\\n            \\n          }\\n\\n          ... userEdgeFields\\n        }\\n\\n        pageInfo {\\n  endCursor\\n  hasNextPage\\n}\\n      }\\nt[...]
